"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.msg_geopermissions import (
    MsgGeopermissions,
)


class AccountsV1MessagingGeopermissionsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1MessagingGeopermissionsApi object."""
        super(AccountsV1MessagingGeopermissionsApi, self).__init__(config)

    def update_messaging_geopermissions(self,
                                        permissions):
        """Perform a PATCH request to /v1/Messaging/GeoPermissions.

        Manage Geo Permissions for each country.

        Args:
            permissions (List[Any]): A list of objects where each object represents
                the Geo Permission to be updated. Each object contains the following
                fields: `country_code`, unique code for each country of Geo
                Permission; `type`, permission type of the Geo Permission i.e.
                country; `enabled`, configure true for enabling the Geo Permission,
                false for disabling the Geo Permission.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Messaging/GeoPermissions")
            .http_method(HttpMethodEnum.PATCH)
            .form_param(Parameter()
                .key("Permissions")
                .value(permissions)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MsgGeopermissions.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_messaging_geopermissions(self,
                                       country_code=None):
        """Perform a GET request to /v1/Messaging/GeoPermissions.

        Manage Geo Permissions for each country.

        Args:
            country_code (str, optional): The country code to filter the geo
                permissions. If provided, only the geo permission for the specified
                country will be returned.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Messaging/GeoPermissions")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("CountryCode")
                .value(country_code))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(MsgGeopermissions.from_dictionary)
            .is_api_response(True),
        ).execute()
