"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.credential_aws import (
    CredentialAws,
)
from twilioapis.models.list_credential_aws_response import (
    ListCredentialAwsResponse,
)


class AccountsV1AwsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1AwsApi object."""
        super(AccountsV1AwsApi, self).__init__(config)

    def list_credential_aws(self,
                            page_size=None,
                            page=None,
                            page_token=None):
        """Perform a GET request to /v1/Credentials/AWS.

        Retrieves a collection of AWS Credentials belonging to the account used to
        make the request

        Args:
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Credentials/AWS")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListCredentialAwsResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_credential_aws(self,
                              credentials,
                              friendly_name=None,
                              account_sid=None):
        """Perform a POST request to /v1/Credentials/AWS.

        Create a new AWS Credential

        Args:
            credentials (str): A string that contains the AWS access credentials in
                the format `<AWS_ACCESS_KEY_ID>:<AWS_SECRET_ACCESS_KEY>`. For
                example,
                `AKIAIOSFODNN7EXAMPLE:wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY`
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.
            account_sid (str, optional): The SID of the Subaccount that this
                Credential should be associated with. Must be a valid Subaccount of
                the account issuing the request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Credentials/AWS")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("Credentials")
                .value(credentials)
                .is_required(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("AccountSid")
                .value(account_sid))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CredentialAws.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_credential_aws(self,
                             sid):
        """Perform a GET request to /v1/Credentials/AWS/{Sid}.

        Fetch the AWS credentials specified by the provided Credential Sid

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the AWS
                resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Credentials/AWS/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CredentialAws.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_credential_aws(self,
                              sid,
                              friendly_name=None):
        """Perform a POST request to /v1/Credentials/AWS/{Sid}.

        Modify the properties of a given Account

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the AWS
                resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Credentials/AWS/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CredentialAws.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_credential_aws(self,
                              sid):
        """Perform a DELETE request to /v1/Credentials/AWS/{Sid}.

        Delete a Credential from your account

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the AWS
                resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Credentials/AWS/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
