"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.bulk_consents import (
    BulkConsents,
)


class AccountsV1BulkConsentsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1BulkConsentsApi object."""
        super(AccountsV1BulkConsentsApi, self).__init__(config)

    def create_bulk_consents(self,
                             items):
        """Perform a POST request to /v1/Consents/Bulk.

        Args:
            items (List[Any]): This is a list of objects that describes a contact's
                opt-in status. Each object contains the following fields:
                `contact_id`, which must be a string representing phone number in
                [E.164 format](https://www.twilio.com/docs/glossary/what-e164);
                `correlation_id`, a unique 32-character UUID used to uniquely map the
                request item with the response item; `sender_id`, which can be either
                a valid messaging service SID or a from phone number; `status`, a
                string representing the consent status. Can be one of [`opt-in`,
                `opt-out`]; `source`, a string indicating the medium through which
                the consent was collected. Can be one of [`website`, `offline`,
                `opt-in-message`, `opt-out-message`, `others`]; `date_of_consent`, an
                optional datetime string field in ISO-8601 format that captures the
                exact date and time when the user gave or revoked consent. If not
                provided, it will be empty.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Consents/Bulk")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("Items")
                .value(items)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BulkConsents.from_dictionary)
            .is_api_response(True),
        ).execute()
