"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.auth_token_promotion import (
    AuthTokenPromotion,
)


class AccountsV1AuthTokenPromotionApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1AuthTokenPromotionApi object."""
        super(AccountsV1AuthTokenPromotionApi, self).__init__(config)

    def update_auth_token_promotion(self):
        """Perform a POST request to /v1/AuthTokens/Promote.

        Promote the secondary Auth Token to primary. After promoting the new token,
        all requests to Twilio using your old primary Auth Token will result in an
        error.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/AuthTokens/Promote")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AuthTokenPromotion.from_dictionary)
            .is_api_response(True),
        ).execute()
