"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.safelist import Safelist


class AccountsV1SafelistApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1SafelistApi object."""
        super(AccountsV1SafelistApi, self).__init__(config)

    def create_safelist(self,
                        phone_number):
        """Perform a POST request to /v1/SafeList/Numbers.

        Add a new phone number or phone number 1k prefix to SafeList.

        Args:
            phone_number (str): The phone number or phone number 1k prefix to be
                added in SafeList. Phone numbers must be in [E.164
                format](https://www.twilio.com/docs/glossary/what-e164).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/SafeList/Numbers")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("PhoneNumber")
                .value(phone_number)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Safelist.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_safelist(self,
                       phone_number=None):
        """Perform a GET request to /v1/SafeList/Numbers.

        Check if a phone number or phone number 1k prefix exists in SafeList.

        Args:
            phone_number (str, optional): The phone number or phone number 1k prefix
                to be fetched from SafeList. Phone numbers must be in [E.164
                format](https://www.twilio.com/docs/glossary/what-e164).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/SafeList/Numbers")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("PhoneNumber")
                .value(phone_number))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Safelist.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_safelist(self,
                        phone_number=None):
        """Perform a DELETE request to /v1/SafeList/Numbers.

        Remove a phone number or phone number 1k prefix from SafeList.

        Args:
            phone_number (str, optional): The phone number or phone number 1k prefix
                to be removed from SafeList. Phone numbers must be in [E.164
                format](https://www.twilio.com/docs/glossary/what-e164).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/SafeList/Numbers")
            .http_method(HttpMethodEnum.DELETE)
            .query_param(Parameter()
                .key("PhoneNumber")
                .value(phone_number))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
