"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.bulk_contacts import (
    BulkContacts,
)


class AccountsV1BulkContactsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize AccountsV1BulkContactsApi object."""
        super(AccountsV1BulkContactsApi, self).__init__(config)

    def create_bulk_contacts(self,
                             items):
        """Perform a POST request to /v1/Contacts/Bulk.

        Args:
            items (List[Any]): A list of objects where each object represents a
                contact's details. Each object includes the following fields:
                `contact_id`, which must be a string representing phone number in
                [E.164 format](https://www.twilio.com/docs/glossary/what-e164);
                `correlation_id`, a unique 32-character UUID that maps the response
                to the original request; `country_iso_code`, a string representing
                the country using the ISO format (e.g., US for the United States);
                and `zip_code`, a string representing the postal code.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/Contacts/Bulk")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("Items")
                .value(items)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BulkContacts.from_dictionary)
            .is_api_response(True),
        ).execute()
