"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.channel import Channel


class ChatV3ChannelApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ChatV3ChannelApi object."""
        super(ChatV3ChannelApi, self).__init__(config)

    def update_channel(self,
                       service_sid,
                       sid,
                       x_twilio_webhook_enabled=None,
                       mtype=None,
                       messaging_service_sid=None):
        """Perform a POST request to /v3/Services/{ServiceSid}/Channels/{Sid}.

        Update a specific Channel.

        Args:
            service_sid (str): The unique SID identifier of the Service.
            sid (str): A 34 character string that uniquely identifies this Channel.
            x_twilio_webhook_enabled (ChannelWebhookEnabledType, optional): The
                X-Twilio-Webhook-Enabled HTTP request header
            mtype (ChannelChannelType, optional): The visibility of the channel. Can
                be: `public` or `private`.
            messaging_service_sid (str, optional): The unique ID of the [Messaging
                Service](https://www.twilio.com/docs/messaging/api/service-resource)
                this channel belongs to.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT1)
            .path("/v3/Services/{ServiceSid}/Channels/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("X-Twilio-Webhook-Enabled")
                .value(x_twilio_webhook_enabled))
            .form_param(Parameter()
                .key("Type")
                .value(mtype))
            .form_param(Parameter()
                .key("MessagingServiceSid")
                .value(messaging_service_sid))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Channel.from_dictionary)
            .is_api_response(True),
        ).execute()
