"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_service_binding_response import (
    ListServiceBindingResponse,
)
from twilioapis.models.service_binding import (
    ServiceBinding,
)


class ConversationsV1BindingApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1BindingApi object."""
        super(ConversationsV1BindingApi, self).__init__(config)

    def delete_service_binding(self,
                               chat_service_sid,
                               sid):
        """Perform a DELETE request to
        /v1/Services/{ChatServiceSid}/Bindings/{Sid}.

        Remove a push notification binding from the conversation service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to delete the Binding resource from.
            sid (str): The SID of the Binding resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Bindings/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def fetch_service_binding(self,
                              chat_service_sid,
                              sid):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/Bindings/{Sid}.

        Fetch a push notification binding from the conversation service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Binding resource is associated with.
            sid (str): A 34 character string that uniquely identifies this resource.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Bindings/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceBinding.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_service_binding(self,
                             chat_service_sid,
                             binding_type=None,
                             identity=None,
                             page_size=None,
                             page=None,
                             page_token=None):
        """Perform a GET request to /v1/Services/{ChatServiceSid}/Bindings.

        Retrieve a list of all push notification bindings in the conversation service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Binding resource is associated with.
            binding_type (List[ServiceBindingBindingType], optional): The push
                technology used by the Binding resources to read.  Can be: `apn`,
                `gcm`, `fcm`, or `twilsock`.  See [push notification
                configuration](https://www.twilio.com/docs/chat/push-notification-conf
                iguration) for more info.
            identity (List[str], optional): The identity of a [Conversation
                User](https://www.twilio.com/docs/conversations/api/user-resource)
                this binding belongs to. See [access
                tokens](https://www.twilio.com/docs/conversations/create-tokens) for
                more details.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 100.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Bindings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("BindingType")
                .value(binding_type))
            .query_param(Parameter()
                .key("Identity")
                .value(identity))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListServiceBindingResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
