"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.conversation_message_receipt import (
    ConversationMessageReceipt,
)
from twilioapis.models.list_conversation_message_receipt_response import (
    ListConversationMessageReceiptResponse,
)
from twilioapis.models.list_service_conversation_message_receipt_response import (
    ListServiceConversationMessageReceiptResponse,
)
from twilioapis.models.service_conversation_message_receipt import (
    ServiceConversationMessageReceipt,
)


class ConversationsV1DeliveryReceiptApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1DeliveryReceiptApi object."""
        super(ConversationsV1DeliveryReceiptApi, self).__init__(config)

    def fetch_conversation_message_receipt(self,
                                           conversation_sid,
                                           message_sid,
                                           sid):
        """Perform a GET request to
        /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}.

        Fetch the delivery and read receipts of the conversation message

        Args:
            conversation_sid (str): The unique ID of the
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) for this message.
            message_sid (str): The SID of the message within a
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) the delivery receipt belongs to.
            sid (str): A 34 character string that uniquely identifies this resource.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ConversationSid")
                .value(conversation_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("MessageSid")
                .value(message_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConversationMessageReceipt.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_conversation_message_receipt(self,
                                          conversation_sid,
                                          message_sid,
                                          page_size=None,
                                          page=None,
                                          page_token=None):
        """Perform a GET request to
        /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts.

        Retrieve a list of all delivery and read receipts of the conversation message

        Args:
            conversation_sid (str): The unique ID of the
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) for this message.
            message_sid (str): The SID of the message within a
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) the delivery receipt belongs to.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ConversationSid")
                .value(conversation_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("MessageSid")
                .value(message_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListConversationMessageReceiptResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_service_conversation_message_receipt(self,
                                                   chat_service_sid,
                                                   conversation_sid,
                                                   message_sid,
                                                   sid):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Message
        Sid}/Receipts/{Sid}.

        Fetch the delivery and read receipts of the conversation message

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Message resource is associated with.
            conversation_sid (str): The unique ID of the
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) for this message.
            message_sid (str): The SID of the message within a
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) the delivery receipt belongs to.
            sid (str): A 34 character string that uniquely identifies this resource.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("ConversationSid")
                .value(conversation_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("MessageSid")
                .value(message_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceConversationMessageReceipt.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_service_conversation_message_receipt(self,
                                                  chat_service_sid,
                                                  conversation_sid,
                                                  message_sid,
                                                  page_size=None,
                                                  page=None,
                                                  page_token=None):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Message
        Sid}/Receipts.

        Retrieve a list of all delivery and read receipts of the conversation message

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Message resource is associated with.
            conversation_sid (str): The unique ID of the
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) for this message.
            message_sid (str): The SID of the message within a
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) the delivery receipt belongs to.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("ConversationSid")
                .value(conversation_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("MessageSid")
                .value(message_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListServiceConversationMessageReceiptResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
