"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.service_notification import (
    ServiceNotification,
)


class ConversationsV1NotificationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1NotificationApi object."""
        super(ConversationsV1NotificationApi, self).__init__(config)

    def update_service_notification(self,
                                    chat_service_sid,
                                    log_enabled=None,
                                    new_message_enabled=None,
                                    new_message_template=None,
                                    new_message_sound=None,
                                    new_message_badge_count_enabled=None,
                                    added_to_conversation_enabled=None,
                                    added_to_conversation_template=None,
                                    added_to_conversation_sound=None,
                                    removed_from_conversation_enabled=None,
                                    removed_from_conversation_template=None,
                                    removed_from_conversation_sound=None,
                                    new_message_with_media_enabled=None,
                                    new_message_with_media_template=None):
        """Perform a POST request to
        /v1/Services/{ChatServiceSid}/Configuration/Notifications.

        Update push notification service settings

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Configuration applies to.
            log_enabled (bool, optional): Weather the notification logging is enabled.
            new_message_enabled (bool, optional): Whether to send a notification when
                a new message is added to a conversation. The default is `false`.
            new_message_template (str, optional): The template to use to create the
                notification text displayed when a new message is added to a
                conversation and `new_message.enabled` is `true`.
            new_message_sound (str, optional): The name of the sound to play when a
                new message is added to a conversation and `new_message.enabled` is
                `true`.
            new_message_badge_count_enabled (bool, optional): Whether the new message
                badge is enabled. The default is `false`.
            added_to_conversation_enabled (bool, optional): Whether to send a
                notification when a participant is added to a conversation. The
                default is `false`.
            added_to_conversation_template (str, optional): The template to use to
                create the notification text displayed when a participant is added to
                a conversation and `added_to_conversation.enabled` is `true`.
            added_to_conversation_sound (str, optional): The name of the sound to
                play when a participant is added to a conversation and
                `added_to_conversation.enabled` is `true`.
            removed_from_conversation_enabled (bool, optional): Whether to send a
                notification to a user when they are removed from a conversation. The
                default is `false`.
            removed_from_conversation_template (str, optional): The template to use
                to create the notification text displayed to a user when they are
                removed from a conversation and `removed_from_conversation.enabled`
                is `true`.
            removed_from_conversation_sound (str, optional): The name of the sound to
                play to a user when they are removed from a conversation and
                `removed_from_conversation.enabled` is `true`.
            new_message_with_media_enabled (bool, optional): Whether to send a
                notification when a new message with media/file attachments is added
                to a conversation. The default is `false`.
            new_message_with_media_template (str, optional): The template to use to
                create the notification text displayed when a new message with
                media/file attachments is added to a conversation and
                `new_message.attachments.enabled` is `true`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Configuration/Notifications")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("LogEnabled")
                .value(log_enabled))
            .form_param(Parameter()
                .key("NewMessage.Enabled")
                .value(new_message_enabled))
            .form_param(Parameter()
                .key("NewMessage.Template")
                .value(new_message_template))
            .form_param(Parameter()
                .key("NewMessage.Sound")
                .value(new_message_sound))
            .form_param(Parameter()
                .key("NewMessage.BadgeCountEnabled")
                .value(new_message_badge_count_enabled))
            .form_param(Parameter()
                .key("AddedToConversation.Enabled")
                .value(added_to_conversation_enabled))
            .form_param(Parameter()
                .key("AddedToConversation.Template")
                .value(added_to_conversation_template))
            .form_param(Parameter()
                .key("AddedToConversation.Sound")
                .value(added_to_conversation_sound))
            .form_param(Parameter()
                .key("RemovedFromConversation.Enabled")
                .value(removed_from_conversation_enabled))
            .form_param(Parameter()
                .key("RemovedFromConversation.Template")
                .value(removed_from_conversation_template))
            .form_param(Parameter()
                .key("RemovedFromConversation.Sound")
                .value(removed_from_conversation_sound))
            .form_param(Parameter()
                .key("NewMessage.WithMedia.Enabled")
                .value(new_message_with_media_enabled))
            .form_param(Parameter()
                .key("NewMessage.WithMedia.Template")
                .value(new_message_with_media_template))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceNotification.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_service_notification(self,
                                   chat_service_sid):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/Configuration/Notifications.

        Fetch push notification service settings

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Configuration applies to.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Configuration/Notifications")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceNotification.from_dictionary)
            .is_api_response(True),
        ).execute()
