"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.configuration_address import (
    ConfigurationAddress,
)
from twilioapis.models.list_configuration_address_response import (
    ListConfigurationAddressResponse,
)


class ConversationsV1AddressConfigurationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1AddressConfigurationApi object."""
        super(ConversationsV1AddressConfigurationApi, self).__init__(config)

    def list_configuration_address(self,
                                   mtype=None,
                                   page_size=None,
                                   page=None,
                                   page_token=None):
        """Perform a GET request to /v1/Configuration/Addresses.

        Retrieve a list of address configurations for an account

        Args:
            mtype (str, optional): Filter the address configurations by its type.
                This value can be one of: `whatsapp`, `sms`.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration/Addresses")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("Type")
                .value(mtype))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListConfigurationAddressResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_configuration_address(self,
                                     mtype,
                                     address,
                                     friendly_name=None,
                                     auto_creation_enabled=None,
                                     auto_creation_type=None,
                                     auto_creation_conversation_service_sid=None,
                                     auto_creation_webhook_url=None,
                                     auto_creation_webhook_method=None,
                                     auto_creation_webhook_filters=None,
                                     auto_creation_studio_flow_sid=None,
                                     auto_creation_studio_retry_count=None,
                                     address_country=None):
        """Perform a POST request to /v1/Configuration/Addresses.

        Create a new address configuration

        Args:
            mtype (ConfigurationAddressType): Type of Address, value can be
                `whatsapp` or `sms`.
            address (str): The unique address to be configured. The address can be a
                whatsapp address or phone number
            friendly_name (str, optional): The human-readable name of this
                configuration, limited to 256 characters. Optional.
            auto_creation_enabled (bool, optional): Enable/Disable auto-creating
                conversations for messages to this address
            auto_creation_type (ConfigurationAddressAutoCreationType, optional): The
                request form parameter.
            auto_creation_conversation_service_sid (str, optional): Conversation
                Service for the auto-created conversation. If not set, the
                conversation is created in the default service.
            auto_creation_webhook_url (str, optional): For type `webhook`, the url
                for the webhook request.
            auto_creation_webhook_method (ConfigurationAddressMethod, optional): The
                request form parameter.
            auto_creation_webhook_filters (List[str], optional): The list of events,
                firing webhook event for this Conversation. Values can be any of the
                following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`,
                `onConversationUpdated`, `onConversationStateUpdated`,
                `onConversationRemoved`, `onParticipantAdded`,
                `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`
            auto_creation_studio_flow_sid (str, optional): For type `studio`, the
                studio flow SID where the webhook should be sent to.
            auto_creation_studio_retry_count (int, optional): For type `studio`,
                number of times to retry the webhook request
            address_country (str, optional): An ISO 3166-1 alpha-2n country code
                which the address belongs to. This is currently only applicable to
                short code addresses.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration/Addresses")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("Type")
                .value(mtype)
                .is_required(True))
            .form_param(Parameter()
                .key("Address")
                .value(address)
                .is_required(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("AutoCreation.Enabled")
                .value(auto_creation_enabled))
            .form_param(Parameter()
                .key("AutoCreation.Type")
                .value(auto_creation_type))
            .form_param(Parameter()
                .key("AutoCreation.ConversationServiceSid")
                .value(auto_creation_conversation_service_sid))
            .form_param(Parameter()
                .key("AutoCreation.WebhookUrl")
                .value(auto_creation_webhook_url))
            .form_param(Parameter()
                .key("AutoCreation.WebhookMethod")
                .value(auto_creation_webhook_method))
            .form_param(Parameter()
                .key("AutoCreation.WebhookFilters")
                .value(auto_creation_webhook_filters))
            .form_param(Parameter()
                .key("AutoCreation.StudioFlowSid")
                .value(auto_creation_studio_flow_sid))
            .form_param(Parameter()
                .key("AutoCreation.StudioRetryCount")
                .value(auto_creation_studio_retry_count))
            .form_param(Parameter()
                .key("AddressCountry")
                .value(address_country))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConfigurationAddress.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_configuration_address(self,
                                    sid):
        """Perform a GET request to /v1/Configuration/Addresses/{Sid}.

        Fetch an address configuration

        Args:
            sid (str): The SID of the Address Configuration resource. This value can
                be either the `sid` or the `address` of the configuration

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration/Addresses/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConfigurationAddress.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_configuration_address(self,
                                     sid,
                                     friendly_name=None,
                                     auto_creation_enabled=None,
                                     auto_creation_type=None,
                                     auto_creation_conversation_service_sid=None,
                                     auto_creation_webhook_url=None,
                                     auto_creation_webhook_method=None,
                                     auto_creation_webhook_filters=None,
                                     auto_creation_studio_flow_sid=None,
                                     auto_creation_studio_retry_count=None):
        """Perform a POST request to /v1/Configuration/Addresses/{Sid}.

        Update an existing address configuration

        Args:
            sid (str): The SID of the Address Configuration resource. This value can
                be either the `sid` or the `address` of the configuration
            friendly_name (str, optional): The human-readable name of this
                configuration, limited to 256 characters. Optional.
            auto_creation_enabled (bool, optional): Enable/Disable auto-creating
                conversations for messages to this address
            auto_creation_type (ConfigurationAddressAutoCreationType, optional): The
                request form parameter.
            auto_creation_conversation_service_sid (str, optional): Conversation
                Service for the auto-created conversation. If not set, the
                conversation is created in the default service.
            auto_creation_webhook_url (str, optional): For type `webhook`, the url
                for the webhook request.
            auto_creation_webhook_method (ConfigurationAddressMethod, optional): The
                request form parameter.
            auto_creation_webhook_filters (List[str], optional): The list of events,
                firing webhook event for this Conversation. Values can be any of the
                following: `onMessageAdded`, `onMessageUpdated`, `onMessageRemoved`,
                `onConversationUpdated`, `onConversationStateUpdated`,
                `onConversationRemoved`, `onParticipantAdded`,
                `onParticipantUpdated`, `onParticipantRemoved`, `onDeliveryUpdated`
            auto_creation_studio_flow_sid (str, optional): For type `studio`, the
                studio flow SID where the webhook should be sent to.
            auto_creation_studio_retry_count (int, optional): For type `studio`,
                number of times to retry the webhook request

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration/Addresses/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("AutoCreation.Enabled")
                .value(auto_creation_enabled))
            .form_param(Parameter()
                .key("AutoCreation.Type")
                .value(auto_creation_type))
            .form_param(Parameter()
                .key("AutoCreation.ConversationServiceSid")
                .value(auto_creation_conversation_service_sid))
            .form_param(Parameter()
                .key("AutoCreation.WebhookUrl")
                .value(auto_creation_webhook_url))
            .form_param(Parameter()
                .key("AutoCreation.WebhookMethod")
                .value(auto_creation_webhook_method))
            .form_param(Parameter()
                .key("AutoCreation.WebhookFilters")
                .value(auto_creation_webhook_filters))
            .form_param(Parameter()
                .key("AutoCreation.StudioFlowSid")
                .value(auto_creation_studio_flow_sid))
            .form_param(Parameter()
                .key("AutoCreation.StudioRetryCount")
                .value(auto_creation_studio_retry_count))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConfigurationAddress.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_configuration_address(self,
                                     sid):
        """Perform a DELETE request to /v1/Configuration/Addresses/{Sid}.

        Remove an existing address configuration

        Args:
            sid (str): The SID of the Address Configuration resource. This value can
                be either the `sid` or the `address` of the configuration

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration/Addresses/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
