"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_role_response import (
    ListRoleResponse,
)
from twilioapis.models.list_service_role_response import (
    ListServiceRoleResponse,
)
from twilioapis.models.role import Role
from twilioapis.models.service_role import ServiceRole


class ConversationsV1RoleApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1RoleApi object."""
        super(ConversationsV1RoleApi, self).__init__(config)

    def create_role(self,
                    friendly_name,
                    mtype,
                    permission):
        """Perform a POST request to /v1/Roles.

        Create a new user role in your account's default service

        Args:
            friendly_name (str): A descriptive string that you create to describe the
                new resource. It can be up to 64 characters long.
            mtype (RoleRoleType): The type of role. Can be: `conversation` for
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) roles or `service` for [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) roles.
            permission (List[str]): A permission that you grant to the new role. Only
                one permission can be granted per parameter. To assign more than one
                permission, repeat this parameter for each permission value. The
                values for this parameter depend on the role's `type`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Roles")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("Type")
                .value(mtype)
                .is_required(True))
            .form_param(Parameter()
                .key("Permission")
                .value(permission)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Role.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_role(self,
                  page_size=None,
                  page=None,
                  page_token=None):
        """Perform a GET request to /v1/Roles.

        Retrieve a list of all user roles in your account's default service

        Args:
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Roles")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListRoleResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_role(self,
                    sid,
                    permission):
        """Perform a POST request to /v1/Roles/{Sid}.

        Update an existing user role in your account's default service

        Args:
            sid (str): The SID of the Role resource to update.
            permission (List[str]): A permission that you grant to the role. Only one
                permission can be granted per parameter. To assign more than one
                permission, repeat this parameter for each permission value. Note
                that the update action replaces all previously assigned permissions
                with those defined in the update action. To remove a permission, do
                not include it in the subsequent update action. The values for this
                parameter depend on the role's `type`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Roles/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Permission")
                .value(permission)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Role.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_role(self,
                    sid):
        """Perform a DELETE request to /v1/Roles/{Sid}.

        Remove a user role from your account's default service

        Args:
            sid (str): The SID of the Role resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Roles/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def fetch_role(self,
                   sid):
        """Perform a GET request to /v1/Roles/{Sid}.

        Fetch a user role from your account's default service

        Args:
            sid (str): The SID of the Role resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Roles/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Role.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_service_role(self,
                            chat_service_sid,
                            friendly_name,
                            mtype,
                            permission):
        """Perform a POST request to /v1/Services/{ChatServiceSid}/Roles.

        Create a new user role in your service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to create the Role resource under.
            friendly_name (str): A descriptive string that you create to describe the
                new resource. It can be up to 64 characters long.
            mtype (ServiceRoleRoleType): The type of role. Can be: `conversation` for
                [Conversation](https://www.twilio.com/docs/conversations/api/conversat
                ion-resource) roles or `service` for [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) roles.
            permission (List[str]): A permission that you grant to the new role. Only
                one permission can be granted per parameter. To assign more than one
                permission, repeat this parameter for each permission value. The
                values for this parameter depend on the role's `type`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Roles")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("Type")
                .value(mtype)
                .is_required(True))
            .form_param(Parameter()
                .key("Permission")
                .value(permission)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceRole.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_service_role(self,
                          chat_service_sid,
                          page_size=None,
                          page=None,
                          page_token=None):
        """Perform a GET request to /v1/Services/{ChatServiceSid}/Roles.

        Retrieve a list of all user roles in your service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to read the Role resources from.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Roles")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListServiceRoleResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_service_role(self,
                            chat_service_sid,
                            sid,
                            permission):
        """Perform a POST request to /v1/Services/{ChatServiceSid}/Roles/{Sid}.

        Update an existing user role in your service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to update the Role resource in.
            sid (str): The SID of the Role resource to update.
            permission (List[str]): A permission that you grant to the role. Only one
                permission can be granted per parameter. To assign more than one
                permission, repeat this parameter for each permission value. Note
                that the update action replaces all previously assigned permissions
                with those defined in the update action. To remove a permission, do
                not include it in the subsequent update action. The values for this
                parameter depend on the role's `type`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Roles/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Permission")
                .value(permission)
                .is_required(True))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceRole.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_service_role(self,
                            chat_service_sid,
                            sid):
        """Perform a DELETE request to
        /v1/Services/{ChatServiceSid}/Roles/{Sid}.

        Remove a user role from your service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to delete the Role resource from.
            sid (str): The SID of the Role resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Roles/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def fetch_service_role(self,
                           chat_service_sid,
                           sid):
        """Perform a GET request to /v1/Services/{ChatServiceSid}/Roles/{Sid}.

        Fetch a user role from your service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to fetch the Role resource from.
            sid (str): The SID of the Role resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Roles/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceRole.from_dictionary)
            .is_api_response(True),
        ).execute()
