"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.configuration import (
    Configuration,
)
from twilioapis.models.service_configuration import (
    ServiceConfiguration,
)


class ConversationsV1ConfigurationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1ConfigurationApi object."""
        super(ConversationsV1ConfigurationApi, self).__init__(config)

    def fetch_configuration(self):
        """Perform a GET request to /v1/Configuration.

        Fetch the global configuration of conversations on your account

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Configuration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_configuration(self,
                             default_chat_service_sid=None,
                             default_messaging_service_sid=None,
                             default_inactive_timer=None,
                             default_closed_timer=None):
        """Perform a POST request to /v1/Configuration.

        Update the global configuration of conversations on your account

        Args:
            default_chat_service_sid (str, optional): The SID of the default
                [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) to use when creating a conversation.
            default_messaging_service_sid (str, optional): The SID of the default
                [Messaging
                Service](https://www.twilio.com/docs/messaging/api/service-resource)
                to use when creating a conversation.
            default_inactive_timer (str, optional): Default ISO8601 duration when
                conversation will be switched to `inactive` state. Minimum value for
                this timer is 1 minute.
            default_closed_timer (str, optional): Default ISO8601 duration when
                conversation will be switched to `closed` state. Minimum value for
                this timer is 10 minutes.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Configuration")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("DefaultChatServiceSid")
                .value(default_chat_service_sid))
            .form_param(Parameter()
                .key("DefaultMessagingServiceSid")
                .value(default_messaging_service_sid))
            .form_param(Parameter()
                .key("DefaultInactiveTimer")
                .value(default_inactive_timer))
            .form_param(Parameter()
                .key("DefaultClosedTimer")
                .value(default_closed_timer))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Configuration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_service_configuration(self,
                                    chat_service_sid):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/Configuration.

        Fetch the configuration of a conversation service

        Args:
            chat_service_sid (str): The SID of the Service configuration resource to
                fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Configuration")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceConfiguration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_service_configuration(self,
                                     chat_service_sid,
                                     default_conversation_creator_role_sid=None,
                                     default_conversation_role_sid=None,
                                     default_chat_service_role_sid=None,
                                     reachability_enabled=None):
        """Perform a POST request to
        /v1/Services/{ChatServiceSid}/Configuration.

        Update configuration settings of a conversation service

        Args:
            chat_service_sid (str): The SID of the Service configuration resource to
                update.
            default_conversation_creator_role_sid (str, optional): The
                conversation-level role assigned to a conversation creator when they
                join a new conversation. See [Conversation
                Role](https://www.twilio.com/docs/conversations/api/role-resource)
                for more info about roles.
            default_conversation_role_sid (str, optional): The conversation-level
                role assigned to users when they are added to a conversation. See
                [Conversation
                Role](https://www.twilio.com/docs/conversations/api/role-resource)
                for more info about roles.
            default_chat_service_role_sid (str, optional): The service-level role
                assigned to users when they are added to the service. See
                [Conversation
                Role](https://www.twilio.com/docs/conversations/api/role-resource)
                for more info about roles.
            reachability_enabled (bool, optional): Whether the [Reachability
                Indicator](https://www.twilio.com/docs/conversations/reachability) is
                enabled for this Conversations Service. The default is `false`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/Configuration")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("DefaultConversationCreatorRoleSid")
                .value(default_conversation_creator_role_sid))
            .form_param(Parameter()
                .key("DefaultConversationRoleSid")
                .value(default_conversation_role_sid))
            .form_param(Parameter()
                .key("DefaultChatServiceRoleSid")
                .value(default_chat_service_role_sid))
            .form_param(Parameter()
                .key("ReachabilityEnabled")
                .value(reachability_enabled))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceConfiguration.from_dictionary)
            .is_api_response(True),
        ).execute()
