"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_participant_conversation_response import (
    ListParticipantConversationResponse,
)
from twilioapis.models.list_service_participant_conversation_response import (
    ListServiceParticipantConversationResponse,
)


class ConversationsV1ParticipantConversationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1ParticipantConversationApi object."""
        super(ConversationsV1ParticipantConversationApi, self).__init__(config)

    def list_participant_conversation(self,
                                      identity=None,
                                      address=None,
                                      page_size=None,
                                      page=None,
                                      page_token=None):
        """Perform a GET request to /v1/ParticipantConversations.

        Retrieve a list of all Conversations that this Participant belongs to by
        identity or by address. Only one parameter should be specified.

        Args:
            identity (str, optional): A unique string identifier for the conversation
                participant as [Conversation
                User](https://www.twilio.com/docs/conversations/api/user-resource).
                This parameter is non-null if (and only if) the participant is using
                the Conversations SDK to communicate. Limited to 256 characters.
            address (str, optional): A unique string identifier for the conversation
                participant who's not a Conversation User. This parameter could be
                found in messaging_binding.address field of Participant resource. It
                should be url-encoded.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/ParticipantConversations")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("Identity")
                .value(identity))
            .query_param(Parameter()
                .key("Address")
                .value(address))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListParticipantConversationResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_service_participant_conversation(self,
                                              chat_service_sid,
                                              identity=None,
                                              address=None,
                                              page_size=None,
                                              page=None,
                                              page_token=None):
        """Perform a GET request to
        /v1/Services/{ChatServiceSid}/ParticipantConversations.

        Retrieve a list of all Conversations that this Participant belongs to by
        identity or by address. Only one parameter should be specified.

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Participant Conversations resource is associated with.
            identity (str, optional): A unique string identifier for the conversation
                participant as [Conversation
                User](https://www.twilio.com/docs/conversations/api/user-resource).
                This parameter is non-null if (and only if) the participant is using
                the Conversations SDK to communicate. Limited to 256 characters.
            address (str, optional): A unique string identifier for the conversation
                participant who's not a Conversation User. This parameter could be
                found in messaging_binding.address field of Participant resource. It
                should be url-encoded.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 50.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/ParticipantConversations")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("Identity")
                .value(identity))
            .query_param(Parameter()
                .key("Address")
                .value(address))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListServiceParticipantConversationResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
