"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.conversation_with_participants import (
    ConversationWithParticipants,
)
from twilioapis.models.service_conversation_with_participants import (
    ServiceConversationWithParticipants,
)


class ConversationsV1ConversationWithParticipantsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize ConversationsV1ConversationWithParticipantsApi object."""
        super(ConversationsV1ConversationWithParticipantsApi, self).__init__(config)

    def create_conversation_with_participants(self,
                                              x_twilio_webhook_enabled=None,
                                              friendly_name=None,
                                              unique_name=None,
                                              date_created=None,
                                              date_updated=None,
                                              messaging_service_sid=None,
                                              attributes=None,
                                              state=None,
                                              timers_inactive=None,
                                              timers_closed=None,
                                              bindings_email_address=None,
                                              bindings_email_name=None,
                                              participant=None):
        """Perform a POST request to /v1/ConversationWithParticipants.

        Create a new conversation with the list of participants in your account's
        default service

        Args:
            x_twilio_webhook_enabled (ChannelWebhookEnabledType, optional): The
                X-Twilio-Webhook-Enabled HTTP request header
            friendly_name (str, optional): The human-readable name of this
                conversation, limited to 256 characters. Optional.
            unique_name (str, optional): An application-defined string that uniquely
                identifies the resource. It can be used to address the resource in
                place of the resource's `sid` in the URL.
            date_created (datetime, optional): The date that this resource was
                created.
            date_updated (datetime, optional): The date that this resource was last
                updated.
            messaging_service_sid (str, optional): The unique ID of the [Messaging
                Service](https://www.twilio.com/docs/messaging/api/service-resource)
                this conversation belongs to.
            attributes (str, optional): An optional string metadata field you can use
                to store any data you wish. The string value must contain
                structurally valid JSON if specified.  **Note** that if the
                attributes are not set "{}" will be returned.
            state (ConversationWithParticipantsState, optional): Current state of
                this conversation. Can be either `initializing`, `active`, `inactive`
                or `closed` and defaults to `active`
            timers_inactive (str, optional): ISO8601 duration when conversation will
                be switched to `inactive` state. Minimum value for this timer is 1
                minute.
            timers_closed (str, optional): ISO8601 duration when conversation will be
                switched to `closed` state. Minimum value for this timer is 10
                minutes.
            bindings_email_address (str, optional): The default email address that
                will be used when sending outbound emails in this conversation.
            bindings_email_name (str, optional): The default name that will be used
                when sending outbound emails in this conversation.
            participant (List[str], optional): The participant to be added to the
                conversation in JSON format. The JSON object attributes are as
                parameters in [Participant
                Resource](https://www.twilio.com/docs/conversations/api/conversation-p
                articipant-resource). The maximum number of participants that can be
                added in a single request is 10.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/ConversationWithParticipants")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("X-Twilio-Webhook-Enabled")
                .value(x_twilio_webhook_enabled))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("UniqueName")
                .value(unique_name))
            .form_param(Parameter()
                .key("DateCreated")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    date_created)))
            .form_param(Parameter()
                .key("DateUpdated")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    date_updated)))
            .form_param(Parameter()
                .key("MessagingServiceSid")
                .value(messaging_service_sid))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .form_param(Parameter()
                .key("State")
                .value(state))
            .form_param(Parameter()
                .key("Timers.Inactive")
                .value(timers_inactive))
            .form_param(Parameter()
                .key("Timers.Closed")
                .value(timers_closed))
            .form_param(Parameter()
                .key("Bindings.Email.Address")
                .value(bindings_email_address))
            .form_param(Parameter()
                .key("Bindings.Email.Name")
                .value(bindings_email_name))
            .form_param(Parameter()
                .key("Participant")
                .value(participant))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ConversationWithParticipants.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_service_conversation_with_participants(self,
                                                      chat_service_sid,
                                                      x_twilio_webhook_enabled=None,
                                                      friendly_name=None,
                                                      unique_name=None,
                                                      date_created=None,
                                                      date_updated=None,
                                                      messaging_service_sid=None,
                                                      attributes=None,
                                                      state=None,
                                                      timers_inactive=None,
                                                      timers_closed=None,
                                                      bindings_email_address=None,
                                                      bindings_email_name=None,
                                                      participant=None):
        """Perform a POST request to
        /v1/Services/{ChatServiceSid}/ConversationWithParticipants.

        Create a new conversation with the list of participants in your account's
        default service

        Args:
            chat_service_sid (str): The SID of the [Conversation
                Service](https://www.twilio.com/docs/conversations/api/service-resourc
                e) the Conversation resource is associated with.
            x_twilio_webhook_enabled (ChannelWebhookEnabledType, optional): The
                X-Twilio-Webhook-Enabled HTTP request header
            friendly_name (str, optional): The human-readable name of this
                conversation, limited to 256 characters. Optional.
            unique_name (str, optional): An application-defined string that uniquely
                identifies the resource. It can be used to address the resource in
                place of the resource's `sid` in the URL.
            date_created (datetime, optional): The date that this resource was
                created.
            date_updated (datetime, optional): The date that this resource was last
                updated.
            messaging_service_sid (str, optional): The unique ID of the [Messaging
                Service](https://www.twilio.com/docs/messaging/api/service-resource)
                this conversation belongs to.
            attributes (str, optional): An optional string metadata field you can use
                to store any data you wish. The string value must contain
                structurally valid JSON if specified.  **Note** that if the
                attributes are not set "{}" will be returned.
            state (ServiceConversationWithParticipantsState, optional): Current state
                of this conversation. Can be either `initializing`, `active`,
                `inactive` or `closed` and defaults to `active`
            timers_inactive (str, optional): ISO8601 duration when conversation will
                be switched to `inactive` state. Minimum value for this timer is 1
                minute.
            timers_closed (str, optional): ISO8601 duration when conversation will be
                switched to `closed` state. Minimum value for this timer is 10
                minutes.
            bindings_email_address (str, optional): The default email address that
                will be used when sending outbound emails in this conversation.
            bindings_email_name (str, optional): The default name that will be used
                when sending outbound emails in this conversation.
            participant (List[str], optional): The participant to be added to the
                conversation in JSON format. The JSON object attributes are as
                parameters in [Participant
                Resource](https://www.twilio.com/docs/conversations/api/conversation-p
                articipant-resource). The maximum number of participants that can be
                added in a single request is 10.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT2)
            .path("/v1/Services/{ChatServiceSid}/ConversationWithParticipants")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ChatServiceSid")
                .value(chat_service_sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("X-Twilio-Webhook-Enabled")
                .value(x_twilio_webhook_enabled))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("UniqueName")
                .value(unique_name))
            .form_param(Parameter()
                .key("DateCreated")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    date_created)))
            .form_param(Parameter()
                .key("DateUpdated")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    date_updated)))
            .form_param(Parameter()
                .key("MessagingServiceSid")
                .value(messaging_service_sid))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .form_param(Parameter()
                .key("State")
                .value(state))
            .form_param(Parameter()
                .key("Timers.Inactive")
                .value(timers_inactive))
            .form_param(Parameter()
                .key("Timers.Closed")
                .value(timers_closed))
            .form_param(Parameter()
                .key("Bindings.Email.Address")
                .value(bindings_email_address))
            .form_param(Parameter()
                .key("Bindings.Email.Name")
                .value(bindings_email_name))
            .form_param(Parameter()
                .key("Participant")
                .value(participant))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServiceConversationWithParticipants.from_dictionary)
            .is_api_response(True),
        ).execute()
