"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_service_response import (
    ListServiceResponse,
)
from twilioapis.models.service_1 import Service1


class NotifyV1ServiceApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize NotifyV1ServiceApi object."""
        super(NotifyV1ServiceApi, self).__init__(config)

    def create_service(self,
                       friendly_name=None,
                       apn_credential_sid=None,
                       gcm_credential_sid=None,
                       messaging_service_sid=None,
                       facebook_messenger_page_id=None,
                       default_apn_notification_protocol_version=None,
                       default_gcm_notification_protocol_version=None,
                       fcm_credential_sid=None,
                       default_fcm_notification_protocol_version=None,
                       log_enabled=None,
                       alexa_skill_id=None,
                       default_alexa_notification_protocol_version=None,
                       delivery_callback_url=None,
                       delivery_callback_enabled=None):
        """Perform a POST request to /v1/Services.

        Args:
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.
            apn_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for APN Bindings.
            gcm_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for GCM Bindings.
            messaging_service_sid (str, optional): The SID of the [Messaging
                Service](https://www.twilio.com/docs/sms/quickstart#messaging-services
                ) to use for SMS Bindings. This parameter must be set in order to
                send SMS notifications.
            facebook_messenger_page_id (str, optional): Deprecated.
            default_apn_notification_protocol_version (str, optional): The protocol
                version to use for sending APNS notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            default_gcm_notification_protocol_version (str, optional): The protocol
                version to use for sending GCM notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            fcm_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for FCM Bindings.
            default_fcm_notification_protocol_version (str, optional): The protocol
                version to use for sending FCM notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            log_enabled (bool, optional): Whether to log notifications. Can be:
                `true` or `false` and the default is `true`.
            alexa_skill_id (str, optional): Deprecated.
            default_alexa_notification_protocol_version (str, optional): Deprecated.
            delivery_callback_url (str, optional): URL to send delivery status
                callback.
            delivery_callback_enabled (bool, optional): Callback configuration that
                enables delivery callbacks, default false

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("ApnCredentialSid")
                .value(apn_credential_sid))
            .form_param(Parameter()
                .key("GcmCredentialSid")
                .value(gcm_credential_sid))
            .form_param(Parameter()
                .key("MessagingServiceSid")
                .value(messaging_service_sid))
            .form_param(Parameter()
                .key("FacebookMessengerPageId")
                .value(facebook_messenger_page_id))
            .form_param(Parameter()
                .key("DefaultApnNotificationProtocolVersion")
                .value(default_apn_notification_protocol_version))
            .form_param(Parameter()
                .key("DefaultGcmNotificationProtocolVersion")
                .value(default_gcm_notification_protocol_version))
            .form_param(Parameter()
                .key("FcmCredentialSid")
                .value(fcm_credential_sid))
            .form_param(Parameter()
                .key("DefaultFcmNotificationProtocolVersion")
                .value(default_fcm_notification_protocol_version))
            .form_param(Parameter()
                .key("LogEnabled")
                .value(log_enabled))
            .form_param(Parameter()
                .key("AlexaSkillId")
                .value(alexa_skill_id))
            .form_param(Parameter()
                .key("DefaultAlexaNotificationProtocolVersion")
                .value(default_alexa_notification_protocol_version))
            .form_param(Parameter()
                .key("DeliveryCallbackUrl")
                .value(delivery_callback_url))
            .form_param(Parameter()
                .key("DeliveryCallbackEnabled")
                .value(delivery_callback_enabled))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Service1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_service(self,
                     friendly_name=None,
                     page_size=None,
                     page=None,
                     page_token=None):
        """Perform a GET request to /v1/Services.

        Args:
            friendly_name (str, optional): The string that identifies the Service
                resources to read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListServiceResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_service(self,
                       sid):
        """Perform a DELETE request to /v1/Services/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Service resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def fetch_service(self,
                      sid):
        """Perform a GET request to /v1/Services/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Service resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Service1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_service(self,
                       sid,
                       friendly_name=None,
                       apn_credential_sid=None,
                       gcm_credential_sid=None,
                       messaging_service_sid=None,
                       facebook_messenger_page_id=None,
                       default_apn_notification_protocol_version=None,
                       default_gcm_notification_protocol_version=None,
                       fcm_credential_sid=None,
                       default_fcm_notification_protocol_version=None,
                       log_enabled=None,
                       alexa_skill_id=None,
                       default_alexa_notification_protocol_version=None,
                       delivery_callback_url=None,
                       delivery_callback_enabled=None):
        """Perform a POST request to /v1/Services/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Service resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.
            apn_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for APN Bindings.
            gcm_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for GCM Bindings.
            messaging_service_sid (str, optional): The SID of the [Messaging
                Service](https://www.twilio.com/docs/sms/quickstart#messaging-services
                ) to use for SMS Bindings. This parameter must be set in order to
                send SMS notifications.
            facebook_messenger_page_id (str, optional): Deprecated.
            default_apn_notification_protocol_version (str, optional): The protocol
                version to use for sending APNS notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            default_gcm_notification_protocol_version (str, optional): The protocol
                version to use for sending GCM notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            fcm_credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) to use for FCM Bindings.
            default_fcm_notification_protocol_version (str, optional): The protocol
                version to use for sending FCM notifications. Can be overridden on a
                Binding by Binding basis when creating a
                [Binding](https://www.twilio.com/docs/notify/api/binding-resource)
                resource.
            log_enabled (bool, optional): Whether to log notifications. Can be:
                `true` or `false` and the default is `true`.
            alexa_skill_id (str, optional): Deprecated.
            default_alexa_notification_protocol_version (str, optional): Deprecated.
            delivery_callback_url (str, optional): URL to send delivery status
                callback.
            delivery_callback_enabled (bool, optional): Callback configuration that
                enables delivery callbacks, default false

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("ApnCredentialSid")
                .value(apn_credential_sid))
            .form_param(Parameter()
                .key("GcmCredentialSid")
                .value(gcm_credential_sid))
            .form_param(Parameter()
                .key("MessagingServiceSid")
                .value(messaging_service_sid))
            .form_param(Parameter()
                .key("FacebookMessengerPageId")
                .value(facebook_messenger_page_id))
            .form_param(Parameter()
                .key("DefaultApnNotificationProtocolVersion")
                .value(default_apn_notification_protocol_version))
            .form_param(Parameter()
                .key("DefaultGcmNotificationProtocolVersion")
                .value(default_gcm_notification_protocol_version))
            .form_param(Parameter()
                .key("FcmCredentialSid")
                .value(fcm_credential_sid))
            .form_param(Parameter()
                .key("DefaultFcmNotificationProtocolVersion")
                .value(default_fcm_notification_protocol_version))
            .form_param(Parameter()
                .key("LogEnabled")
                .value(log_enabled))
            .form_param(Parameter()
                .key("AlexaSkillId")
                .value(alexa_skill_id))
            .form_param(Parameter()
                .key("DefaultAlexaNotificationProtocolVersion")
                .value(default_alexa_notification_protocol_version))
            .form_param(Parameter()
                .key("DeliveryCallbackUrl")
                .value(delivery_callback_url))
            .form_param(Parameter()
                .key("DeliveryCallbackEnabled")
                .value(delivery_callback_enabled))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Service1.from_dictionary)
            .is_api_response(True),
        ).execute()
