"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.credential_1 import Credential1
from twilioapis.models.list_credential_response import (
    ListCredentialResponse,
)


class NotifyV1CredentialApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize NotifyV1CredentialApi object."""
        super(NotifyV1CredentialApi, self).__init__(config)

    def list_credential(self,
                        page_size=None,
                        page=None,
                        page_token=None):
        """Perform a GET request to /v1/Credentials.

        Args:
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Credentials")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListCredentialResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_credential(self,
                          mtype,
                          friendly_name=None,
                          certificate=None,
                          private_key=None,
                          sandbox=None,
                          api_key=None,
                          secret=None):
        """Perform a POST request to /v1/Credentials.

        Args:
            mtype (CredentialPushType): The Credential type. Can be: `gcm`, `fcm`, or
                `apn`.
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.
            certificate (str, optional): [APN only] The URL-encoded representation of
                the certificate. Strip everything outside of the headers, e.g.
                `-----BEGIN
                CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZ
                YxCzAJBgNV.....A==-----END CERTIFICATE-----`
            private_key (str, optional): [APN only] The URL-encoded representation of
                the private key. Strip everything outside of the headers, e.g.
                `-----BEGIN RSA PRIVATE
                KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxii
                eR\n.-----END RSA PRIVATE KEY-----`
            sandbox (bool, optional): [APN only] Whether to send the credential to
                sandbox APNs. Can be `true` to send to sandbox APNs or `false` to
                send to production.
            api_key (str, optional): [GCM only] The `Server key` of your project from
                Firebase console under Settings / Cloud messaging.
            secret (str, optional): [FCM only] The `Server key` of your project from
                Firebase console under Settings / Cloud messaging.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Credentials")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("Type")
                .value(mtype)
                .is_required(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("Certificate")
                .value(certificate))
            .form_param(Parameter()
                .key("PrivateKey")
                .value(private_key))
            .form_param(Parameter()
                .key("Sandbox")
                .value(sandbox))
            .form_param(Parameter()
                .key("ApiKey")
                .value(api_key))
            .form_param(Parameter()
                .key("Secret")
                .value(secret))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Credential1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_credential(self,
                         sid):
        """Perform a GET request to /v1/Credentials/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Credential resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Credentials/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Credential1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_credential(self,
                          sid,
                          friendly_name=None,
                          certificate=None,
                          private_key=None,
                          sandbox=None,
                          api_key=None,
                          secret=None):
        """Perform a POST request to /v1/Credentials/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Credential resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the resource. It can be up to 64 characters long.
            certificate (str, optional): [APN only] The URL-encoded representation of
                the certificate. Strip everything outside of the headers, e.g.
                `-----BEGIN
                CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZ
                YxCzAJBgNV.....A==-----END CERTIFICATE-----`
            private_key (str, optional): [APN only] The URL-encoded representation of
                the private key. Strip everything outside of the headers, e.g.
                `-----BEGIN RSA PRIVATE
                KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxii
                eR\n.-----END RSA PRIVATE KEY-----`
            sandbox (bool, optional): [APN only] Whether to send the credential to
                sandbox APNs. Can be `true` to send to sandbox APNs or `false` to
                send to production.
            api_key (str, optional): [GCM only] The `Server key` of your project from
                Firebase console under Settings / Cloud messaging.
            secret (str, optional): [FCM only] The `Server key` of your project from
                Firebase console under Settings / Cloud messaging.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Credentials/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("Certificate")
                .value(certificate))
            .form_param(Parameter()
                .key("PrivateKey")
                .value(private_key))
            .form_param(Parameter()
                .key("Sandbox")
                .value(sandbox))
            .form_param(Parameter()
                .key("ApiKey")
                .value(api_key))
            .form_param(Parameter()
                .key("Secret")
                .value(secret))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Credential1.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_credential(self,
                          sid):
        """Perform a DELETE request to /v1/Credentials/{Sid}.

        Args:
            sid (str): The Twilio-provided string that uniquely identifies the
                Credential resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Credentials/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
