"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.binding import Binding
from twilioapis.models.list_binding_response import (
    ListBindingResponse,
)


class NotifyV1BindingApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize NotifyV1BindingApi object."""
        super(NotifyV1BindingApi, self).__init__(config)

    def fetch_binding(self,
                      service_sid,
                      sid):
        """Perform a GET request to /v1/Services/{ServiceSid}/Bindings/{Sid}.

        Args:
            service_sid (str): The SID of the
                [Service](https://www.twilio.com/docs/notify/api/service-resource) to
                fetch the resource from.
            sid (str): The Twilio-provided string that uniquely identifies the
                Binding resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{ServiceSid}/Bindings/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Binding.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_binding(self,
                       service_sid,
                       sid):
        """Perform a DELETE request to
        /v1/Services/{ServiceSid}/Bindings/{Sid}.

        Args:
            service_sid (str): The SID of the
                [Service](https://www.twilio.com/docs/notify/api/service-resource) to
                delete the resource from.
            sid (str): The Twilio-provided string that uniquely identifies the
                Binding resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{ServiceSid}/Bindings/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def create_binding(self,
                       service_sid,
                       identity,
                       binding_type,
                       address,
                       tag=None,
                       notification_protocol_version=None,
                       credential_sid=None,
                       endpoint=None):
        """Perform a POST request to /v1/Services/{ServiceSid}/Bindings.

        Args:
            service_sid (str): The SID of the
                [Service](https://www.twilio.com/docs/notify/api/service-resource) to
                create the resource under.
            identity (str): The `identity` value that uniquely identifies the new
                resource's
                [User](https://www.twilio.com/docs/chat/rest/user-resource) within
                the
                [Service](https://www.twilio.com/docs/notify/api/service-resource).
                Up to 20 Bindings can be created for the same Identity in a given
                Service.
            binding_type (BindingBindingType): The transport technology to use for
                the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or
                `facebook-messenger`.
            address (str): The channel-specific address. For APNS, the device token.
                For FCM and GCM, the registration token. For SMS, a phone number in
                E.164 format. For Facebook Messenger, the Messenger ID of the user or
                a phone number in E.164 format.
            tag (List[str], optional): A tag that can be used to select the Bindings
                to notify. Repeat this parameter to specify more than one tag, up to
                a total of 20 tags.
            notification_protocol_version (str, optional): The protocol version to
                use to send the notification. This defaults to the value of
                `default_xxxx_notification_protocol_version` for the protocol in the
                [Service](https://www.twilio.com/docs/notify/api/service-resource).
                The current version is `"3"` for `apn`, `fcm`, and `gcm` type
                Bindings. The parameter is not applicable to `sms` and
                `facebook-messenger` type Bindings as the data format is fixed.
            credential_sid (str, optional): The SID of the
                [Credential](https://www.twilio.com/docs/notify/api/credential-resourc
                e) resource to be used to send notifications to this Binding. If
                present, this overrides the Credential specified in the Service
                resource. Applies to only `apn`, `fcm`, and `gcm` type Bindings.
            endpoint (str, optional): Deprecated.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{ServiceSid}/Bindings")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Identity")
                .value(identity)
                .is_required(True))
            .form_param(Parameter()
                .key("BindingType")
                .value(binding_type)
                .is_required(True))
            .form_param(Parameter()
                .key("Address")
                .value(address)
                .is_required(True))
            .form_param(Parameter()
                .key("Tag")
                .value(tag))
            .form_param(Parameter()
                .key("NotificationProtocolVersion")
                .value(notification_protocol_version))
            .form_param(Parameter()
                .key("CredentialSid")
                .value(credential_sid))
            .form_param(Parameter()
                .key("Endpoint")
                .value(endpoint))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Binding.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_binding(self,
                     service_sid,
                     start_date=None,
                     end_date=None,
                     identity=None,
                     tag=None,
                     page_size=None,
                     page=None,
                     page_token=None):
        """Perform a GET request to /v1/Services/{ServiceSid}/Bindings.

        Args:
            service_sid (str): The SID of the
                [Service](https://www.twilio.com/docs/notify/api/service-resource) to
                read the resource from.
            start_date (date, optional): Only include usage that has occurred on or
                after this date. Specify the date in GMT and format as `YYYY-MM-DD`.
            end_date (date, optional): Only include usage that occurred on or before
                this date. Specify the date in GMT and format as `YYYY-MM-DD`.
            identity (List[str], optional): The
                [User](https://www.twilio.com/docs/chat/rest/user-resource)'s
                `identity` value of the resources to read.
            tag (List[str], optional): Only list Bindings that have all of the
                specified Tags. The following implicit tags are available: `all`,
                `apn`, `fcm`, `gcm`, `sms`, `facebook-messenger`. Up to 5 tags are
                allowed.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT3)
            .path("/v1/Services/{ServiceSid}/Bindings")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("StartDate")
                .value(start_date))
            .query_param(Parameter()
                .key("EndDate")
                .value(end_date))
            .query_param(Parameter()
                .key("Identity")
                .value(identity))
            .query_param(Parameter()
                .key("Tag")
                .value(tag))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListBindingResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
