"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_task_reservation_response import (
    ListTaskReservationResponse,
)
from twilioapis.models.task_reservation import (
    TaskReservation,
)


class TaskrouterV1TaskReservationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskReservationApi object."""
        super(TaskrouterV1TaskReservationApi, self).__init__(config)

    def list_task_reservation(self,
                              workspace_sid,
                              task_sid,
                              reservation_status=None,
                              worker_sid=None,
                              page_size=None,
                              page=None,
                              page_token=None):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations.

        Tasks reserved for workers

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskReservation
                resources to read.
            task_sid (str): The SID of the reserved Task resource with the
                TaskReservation resources to read.
            reservation_status (TaskReservationStatus, optional): Returns the list of
                reservations for a task with a specified ReservationStatus.  Can be:
                `pending`, `accepted`, `rejected`, or `timeout`.
            worker_sid (str, optional): The SID of the reserved Worker resource to
                read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("TaskSid")
                .value(task_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("ReservationStatus")
                .value(reservation_status))
            .query_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTaskReservationResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_task_reservation(self,
                               workspace_sid,
                               task_sid,
                               sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}.

        Tasks reserved for workers

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskReservation
                resource to fetch.
            task_sid (str): The SID of the reserved Task resource with the
                TaskReservation resource to fetch.
            sid (str): The SID of the TaskReservation resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("TaskSid")
                .value(task_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskReservation.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_task_reservation(self,
                                workspace_sid,
                                task_sid,
                                sid,
                                if_match=None,
                                reservation_status=None,
                                worker_activity_sid=None,
                                instruction=None,
                                dequeue_post_work_activity_sid=None,
                                dequeue_from=None,
                                dequeue_record=None,
                                dequeue_timeout=None,
                                dequeue_to=None,
                                dequeue_status_callback_url=None,
                                call_from=None,
                                call_record=None,
                                call_timeout=None,
                                call_to=None,
                                call_url=None,
                                call_status_callback_url=None,
                                call_accept=None,
                                redirect_call_sid=None,
                                redirect_accept=None,
                                redirect_url=None,
                                to=None,
                                mfrom=None,
                                status_callback=None,
                                status_callback_method=None,
                                status_callback_event=None,
                                timeout=None,
                                record=None,
                                muted=None,
                                beep=None,
                                start_conference_on_enter=None,
                                end_conference_on_exit=None,
                                wait_url=None,
                                wait_method=None,
                                early_media=None,
                                max_participants=None,
                                conference_status_callback=None,
                                conference_status_callback_method=None,
                                conference_status_callback_event=None,
                                conference_record=None,
                                conference_trim=None,
                                recording_channels=None,
                                recording_status_callback=None,
                                recording_status_callback_method=None,
                                conference_recording_status_callback=None,
                                conference_recording_status_callback_method=None,
                                region=None,
                                sip_auth_username=None,
                                sip_auth_password=None,
                                dequeue_status_callback_event=None,
                                post_work_activity_sid=None,
                                supervisor_mode=None,
                                supervisor=None,
                                end_conference_on_customer_exit=None,
                                beep_on_customer_entrance=None,
                                jitter_buffer_size=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}.

        Tasks reserved for workers

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskReservation
                resources to update.
            task_sid (str): The SID of the reserved Task resource with the
                TaskReservation resources to update.
            sid (str): The SID of the TaskReservation resource to update.
            if_match (str, optional): The If-Match HTTP request header
            reservation_status (TaskReservationStatus, optional): The current status
                of the reservation. Can be: `pending`, `accepted`, `rejected`, or
                `timeout`.
            worker_activity_sid (str, optional): The new worker activity SID if
                rejecting a reservation.
            instruction (str, optional): The assignment instruction for reservation.
            dequeue_post_work_activity_sid (str, optional): The SID of the Activity
                resource to start after executing a Dequeue instruction.
            dequeue_from (str, optional): The Caller ID of the call to the worker
                when executing a Dequeue instruction.
            dequeue_record (str, optional): Whether to record both legs of a call
                when executing a Dequeue instruction or which leg to record.
            dequeue_timeout (int, optional): Timeout for call when executing a
                Dequeue instruction.
            dequeue_to (str, optional): The Contact URI of the worker when executing
                a Dequeue instruction. Can be the URI of the Twilio Client, the SIP
                URI for Programmable SIP, or the
                [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted
                phone number, depending on the destination.
            dequeue_status_callback_url (str, optional): The Callback URL for
                completed call event when executing a Dequeue instruction.
            call_from (str, optional): The Caller ID of the outbound call when
                executing a Call instruction.
            call_record (str, optional): Whether to record both legs of a call when
                executing a Call instruction or which leg to record.
            call_timeout (int, optional): Timeout for call when executing a Call
                instruction.
            call_to (str, optional): The Contact URI of the worker when executing a
                Call instruction.  Can be the URI of the Twilio Client, the SIP URI
                for Programmable SIP, or the
                [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted
                phone number, depending on the destination.
            call_url (str, optional): TwiML URI executed on answering the worker's
                leg as a result of the Call instruction.
            call_status_callback_url (str, optional): The URL to call  for the
                completed call event when executing a Call instruction.
            call_accept (bool, optional): Whether to accept a reservation when
                executing a Call instruction.
            redirect_call_sid (str, optional): The Call SID of the call parked in the
                queue when executing a Redirect instruction.
            redirect_accept (bool, optional): Whether the reservation should be
                accepted when executing a Redirect instruction.
            redirect_url (str, optional): TwiML URI to redirect the call to when
                executing the Redirect instruction.
            to (str, optional): The Contact URI of the worker when executing a
                Conference instruction. Can be the URI of the Twilio Client, the SIP
                URI for Programmable SIP, or the
                [E.164](https://www.twilio.com/docs/glossary/what-e164) formatted
                phone number, depending on the destination.
            mfrom (str, optional): The Caller ID of the call to the worker when
                executing a Conference instruction.
            status_callback (str, optional): The URL we should call using the
                `status_callback_method` to send status information to your
                application.
            status_callback_method (ConfigurationWebhookMethod, optional): The HTTP
                method we should use to call `status_callback`. Can be: `POST` or
                `GET` and the default is `POST`.
            status_callback_event (List[TaskReservationCallStatus], optional): The
                call progress events that we will send to `status_callback`. Can be:
                `initiated`, `ringing`, `answered`, or `completed`.
            timeout (int, optional): Timeout for call when executing a Conference
                instruction.
            record (bool, optional): Whether to record the participant and their
                conferences, including the time between conferences. The default is
                `false`.
            muted (bool, optional): Whether the agent is muted in the conference. The
                default is `false`.
            beep (str, optional): Whether to play a notification beep when the
                participant joins or when to play a beep. Can be: `true`, `false`,
                `onEnter`, or `onExit`. The default value is `true`.
            start_conference_on_enter (bool, optional): Whether to start the
                conference when the participant joins, if it has not already started.
                The default is `true`. If `false` and the conference has not started,
                the participant is muted and hears background music until another
                participant starts the conference.
            end_conference_on_exit (bool, optional): Whether to end the conference
                when the agent leaves.
            wait_url (str, optional): The URL we should call using the `wait_method`
                for the music to play while participants are waiting for the
                conference to start. The default value is the URL of our standard
                hold music. [Learn more about hold
                music](https://www.twilio.com/labs/twimlets/holdmusic).
            wait_method (ConfigurationWebhookMethod, optional): The HTTP method we
                should use to call `wait_url`. Can be `GET` or `POST` and the default
                is `POST`. When using a static audio file, this should be `GET` so
                that we can cache the file.
            early_media (bool, optional): Whether to allow an agent to hear the state
                of the outbound call, including ringing or disconnect messages. The
                default is `true`.
            max_participants (int, optional): The maximum number of participants in
                the conference. Can be a positive integer from `2` to `250`. The
                default value is `250`.
            conference_status_callback (str, optional): The URL we should call using
                the `conference_status_callback_method` when the conference events in
                `conference_status_callback_event` occur. Only the value set by the
                first participant to join the conference is used. Subsequent
                `conference_status_callback` values are ignored.
            conference_status_callback_method (ConfigurationWebhookMethod, optional):
                The HTTP method we should use to call `conference_status_callback`.
                Can be: `GET` or `POST` and defaults to `POST`.
            conference_status_callback_event (List[TaskReservationConferenceEvent],
                optional): The conference status events that we will send to
                `conference_status_callback`. Can be: `start`, `end`, `join`,
                `leave`, `mute`, `hold`, `speaker`.
            conference_record (str, optional): Whether to record the conference the
                participant is joining or when to record the conference. Can be:
                `true`, `false`, `record-from-start`, and `do-not-record`. The
                default value is `false`.
            conference_trim (str, optional): How to trim the leading and trailing
                silence from your recorded conference audio files. Can be:
                `trim-silence` or `do-not-trim` and defaults to `trim-silence`.
            recording_channels (str, optional): The recording channels for the final
                recording. Can be: `mono` or `dual` and the default is `mono`.
            recording_status_callback (str, optional): The URL that we should call
                using the `recording_status_callback_method` when the recording
                status changes.
            recording_status_callback_method (ConfigurationWebhookMethod, optional):
                The HTTP method we should use when we call
                `recording_status_callback`. Can be: `GET` or `POST` and defaults to
                `POST`.
            conference_recording_status_callback (str, optional): The URL we should
                call using the `conference_recording_status_callback_method` when the
                conference recording is available.
            conference_recording_status_callback_method (ConfigurationWebhookMethod,
                optional): The HTTP method we should use to call
                `conference_recording_status_callback`. Can be: `GET` or `POST` and
                defaults to `POST`.
            region (str, optional): The
                [region](https://support.twilio.com/hc/en-us/articles/223132167-How-gl
                obal-low-latency-routing-and-region-selection-work-for-conferences-and
                -Client-calls) where we should mix the recorded audio. Can be:`us1`,
                `us2`, `ie1`, `de1`, `sg1`, `br1`, `au1`, or `jp1`.
            sip_auth_username (str, optional): The SIP username used for
                authentication.
            sip_auth_password (str, optional): The SIP password for authentication.
            dequeue_status_callback_event (List[str], optional): The Call progress
                events sent via webhooks as a result of a Dequeue instruction.
            post_work_activity_sid (str, optional): The new worker activity SID after
                executing a Conference instruction.
            supervisor_mode (TaskReservationSupervisorMode, optional): The request
                form parameter.
            supervisor (str, optional): The Supervisor SID/URI when executing the
                Supervise instruction.
            end_conference_on_customer_exit (bool, optional): Whether to end the
                conference when the customer leaves.
            beep_on_customer_entrance (bool, optional): Whether to play a
                notification beep when the customer joins.
            jitter_buffer_size (str, optional): The jitter buffer size for
                conference. Can be: `small`, `medium`, `large`, `off`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{TaskSid}/Reservations/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("TaskSid")
                .value(task_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("If-Match")
                .value(if_match))
            .form_param(Parameter()
                .key("ReservationStatus")
                .value(reservation_status))
            .form_param(Parameter()
                .key("WorkerActivitySid")
                .value(worker_activity_sid))
            .form_param(Parameter()
                .key("Instruction")
                .value(instruction))
            .form_param(Parameter()
                .key("DequeuePostWorkActivitySid")
                .value(dequeue_post_work_activity_sid))
            .form_param(Parameter()
                .key("DequeueFrom")
                .value(dequeue_from))
            .form_param(Parameter()
                .key("DequeueRecord")
                .value(dequeue_record))
            .form_param(Parameter()
                .key("DequeueTimeout")
                .value(dequeue_timeout))
            .form_param(Parameter()
                .key("DequeueTo")
                .value(dequeue_to))
            .form_param(Parameter()
                .key("DequeueStatusCallbackUrl")
                .value(dequeue_status_callback_url))
            .form_param(Parameter()
                .key("CallFrom")
                .value(call_from))
            .form_param(Parameter()
                .key("CallRecord")
                .value(call_record))
            .form_param(Parameter()
                .key("CallTimeout")
                .value(call_timeout))
            .form_param(Parameter()
                .key("CallTo")
                .value(call_to))
            .form_param(Parameter()
                .key("CallUrl")
                .value(call_url))
            .form_param(Parameter()
                .key("CallStatusCallbackUrl")
                .value(call_status_callback_url))
            .form_param(Parameter()
                .key("CallAccept")
                .value(call_accept))
            .form_param(Parameter()
                .key("RedirectCallSid")
                .value(redirect_call_sid))
            .form_param(Parameter()
                .key("RedirectAccept")
                .value(redirect_accept))
            .form_param(Parameter()
                .key("RedirectUrl")
                .value(redirect_url))
            .form_param(Parameter()
                .key("To")
                .value(to))
            .form_param(Parameter()
                .key("From")
                .value(mfrom))
            .form_param(Parameter()
                .key("StatusCallback")
                .value(status_callback))
            .form_param(Parameter()
                .key("StatusCallbackMethod")
                .value(status_callback_method))
            .form_param(Parameter()
                .key("StatusCallbackEvent")
                .value(status_callback_event))
            .form_param(Parameter()
                .key("Timeout")
                .value(timeout))
            .form_param(Parameter()
                .key("Record")
                .value(record))
            .form_param(Parameter()
                .key("Muted")
                .value(muted))
            .form_param(Parameter()
                .key("Beep")
                .value(beep))
            .form_param(Parameter()
                .key("StartConferenceOnEnter")
                .value(start_conference_on_enter))
            .form_param(Parameter()
                .key("EndConferenceOnExit")
                .value(end_conference_on_exit))
            .form_param(Parameter()
                .key("WaitUrl")
                .value(wait_url))
            .form_param(Parameter()
                .key("WaitMethod")
                .value(wait_method))
            .form_param(Parameter()
                .key("EarlyMedia")
                .value(early_media))
            .form_param(Parameter()
                .key("MaxParticipants")
                .value(max_participants))
            .form_param(Parameter()
                .key("ConferenceStatusCallback")
                .value(conference_status_callback))
            .form_param(Parameter()
                .key("ConferenceStatusCallbackMethod")
                .value(conference_status_callback_method))
            .form_param(Parameter()
                .key("ConferenceStatusCallbackEvent")
                .value(conference_status_callback_event))
            .form_param(Parameter()
                .key("ConferenceRecord")
                .value(conference_record))
            .form_param(Parameter()
                .key("ConferenceTrim")
                .value(conference_trim))
            .form_param(Parameter()
                .key("RecordingChannels")
                .value(recording_channels))
            .form_param(Parameter()
                .key("RecordingStatusCallback")
                .value(recording_status_callback))
            .form_param(Parameter()
                .key("RecordingStatusCallbackMethod")
                .value(recording_status_callback_method))
            .form_param(Parameter()
                .key("ConferenceRecordingStatusCallback")
                .value(conference_recording_status_callback))
            .form_param(Parameter()
                .key("ConferenceRecordingStatusCallbackMethod")
                .value(conference_recording_status_callback_method))
            .form_param(Parameter()
                .key("Region")
                .value(region))
            .form_param(Parameter()
                .key("SipAuthUsername")
                .value(sip_auth_username))
            .form_param(Parameter()
                .key("SipAuthPassword")
                .value(sip_auth_password))
            .form_param(Parameter()
                .key("DequeueStatusCallbackEvent")
                .value(dequeue_status_callback_event))
            .form_param(Parameter()
                .key("PostWorkActivitySid")
                .value(post_work_activity_sid))
            .form_param(Parameter()
                .key("SupervisorMode")
                .value(supervisor_mode))
            .form_param(Parameter()
                .key("Supervisor")
                .value(supervisor))
            .form_param(Parameter()
                .key("EndConferenceOnCustomerExit")
                .value(end_conference_on_customer_exit))
            .form_param(Parameter()
                .key("BeepOnCustomerEntrance")
                .value(beep_on_customer_entrance))
            .form_param(Parameter()
                .key("JitterBufferSize")
                .value(jitter_buffer_size))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskReservation.from_dictionary)
            .is_api_response(True),
        ).execute()
