"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_task_queue_response import (
    ListTaskQueueResponse,
)
from twilioapis.models.task_queue import TaskQueue


class TaskrouterV1TaskQueueApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskQueueApi object."""
        super(TaskrouterV1TaskQueueApi, self).__init__(config)

    def fetch_task_queue(self,
                         workspace_sid,
                         sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskQueue to fetch.
            sid (str): The SID of the TaskQueue resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskQueue.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_task_queue(self,
                          workspace_sid,
                          sid,
                          friendly_name=None,
                          target_workers=None,
                          reservation_activity_sid=None,
                          assignment_activity_sid=None,
                          max_reserved_workers=None,
                          task_order=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskQueue to
                update.
            sid (str): The SID of the TaskQueue resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the TaskQueue. For example `Support-Tier 1`, `Sales`, or
                `Escalation`.
            target_workers (str, optional): A string describing the Worker selection
                criteria for any Tasks that enter the TaskQueue. For example
                '"language" == "spanish"' If no TargetWorkers parameter is provided,
                Tasks will wait in the queue until they are either deleted or moved
                to another queue. Additional examples on how to describing Worker
                selection criteria below.
            reservation_activity_sid (str, optional): The SID of the Activity to
                assign Workers when a task is reserved for them.
            assignment_activity_sid (str, optional): The SID of the Activity to
                assign Workers when a task is assigned for them.
            max_reserved_workers (int, optional): The maximum number of Workers to
                create reservations for the assignment of a task while in the queue.
                Maximum of 50.
            task_order (TaskQueueTaskOrder, optional): How Tasks will be assigned to
                Workers. Set this parameter to `LIFO` to assign most recently created
                Task first or `FIFO` to assign the oldest Task. Default is FIFO.
                [Click
                here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first
                -out-lifo) to learn more.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("TargetWorkers")
                .value(target_workers))
            .form_param(Parameter()
                .key("ReservationActivitySid")
                .value(reservation_activity_sid))
            .form_param(Parameter()
                .key("AssignmentActivitySid")
                .value(assignment_activity_sid))
            .form_param(Parameter()
                .key("MaxReservedWorkers")
                .value(max_reserved_workers))
            .form_param(Parameter()
                .key("TaskOrder")
                .value(task_order))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskQueue.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_task_queue(self,
                          workspace_sid,
                          sid):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskQueue to
                delete.
            sid (str): The SID of the TaskQueue resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_task_queue(self,
                        workspace_sid,
                        friendly_name=None,
                        evaluate_worker_attributes=None,
                        worker_sid=None,
                        ordering=None,
                        page_size=None,
                        page=None,
                        page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/TaskQueues.

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskQueue to read.
            friendly_name (str, optional): The `friendly_name` of the TaskQueue
                resources to read.
            evaluate_worker_attributes (str, optional): The attributes of the Workers
                to read. Returns the TaskQueues with Workers that match the
                attributes specified in this parameter.
            worker_sid (str, optional): The SID of the Worker with the TaskQueue
                resources to read.
            ordering (str, optional): Sorting parameter for TaskQueues
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("EvaluateWorkerAttributes")
                .value(evaluate_worker_attributes))
            .query_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid))
            .query_param(Parameter()
                .key("Ordering")
                .value(ordering))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTaskQueueResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_task_queue(self,
                          workspace_sid,
                          friendly_name,
                          target_workers=None,
                          max_reserved_workers=None,
                          task_order=None,
                          reservation_activity_sid=None,
                          assignment_activity_sid=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/TaskQueues.

        Args:
            workspace_sid (str): The SID of the Workspace that the new TaskQueue
                belongs to.
            friendly_name (str): A descriptive string that you create to describe the
                TaskQueue. For example `Support-Tier 1`, `Sales`, or `Escalation`.
            target_workers (str, optional): A string that describes the Worker
                selection criteria for any Tasks that enter the TaskQueue. For
                example, `'"language" == "spanish"'`. The default value is `1==1`. If
                this value is empty, Tasks will wait in the TaskQueue until they are
                deleted or moved to another TaskQueue. For more information about
                Worker selection, see [Describing Worker selection
                criteria](https://www.twilio.com/docs/taskrouter/api/taskqueues#target
                -workers).
            max_reserved_workers (int, optional): The maximum number of Workers to
                reserve for the assignment of a Task in the queue. Can be an integer
                between 1 and 50, inclusive and defaults to 1.
            task_order (TaskQueueTaskOrder, optional): How Tasks will be assigned to
                Workers. Set this parameter to `LIFO` to assign most recently created
                Task first or `FIFO` to assign the oldest Task. Default is FIFO.
                [Click
                here](https://www.twilio.com/docs/taskrouter/queue-ordering-last-first
                -out-lifo) to learn more.
            reservation_activity_sid (str, optional): The SID of the Activity to
                assign Workers when a task is reserved for them.
            assignment_activity_sid (str, optional): The SID of the Activity to
                assign Workers when a task is assigned to them.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("TargetWorkers")
                .value(target_workers))
            .form_param(Parameter()
                .key("MaxReservedWorkers")
                .value(max_reserved_workers))
            .form_param(Parameter()
                .key("TaskOrder")
                .value(task_order))
            .form_param(Parameter()
                .key("ReservationActivitySid")
                .value(reservation_activity_sid))
            .form_param(Parameter()
                .key("AssignmentActivitySid")
                .value(assignment_activity_sid))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskQueue.from_dictionary)
            .is_api_response(True),
        ).execute()
