"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.activity import Activity
from twilioapis.models.list_activity_response import (
    ListActivityResponse,
)


class TaskrouterV1ActivityApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1ActivityApi object."""
        super(TaskrouterV1ActivityApi, self).__init__(config)

    def fetch_activity(self,
                       workspace_sid,
                       sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Activities/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Activity resources
                to fetch.
            sid (str): The SID of the Activity resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Activity.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_activity(self,
                        workspace_sid,
                        sid,
                        friendly_name=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/Activities/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Activity resources
                to update.
            sid (str): The SID of the Activity resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the Activity resource. It can be up to 64 characters long.
                These names are used to calculate and expose statistics about
                Workers, and provide visibility into the state of each Worker.
                Examples of friendly names include: `on-call`, `break`, and `email`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Activity.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_activity(self,
                        workspace_sid,
                        sid):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/Activities/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Activity resources
                to delete.
            sid (str): The SID of the Activity resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Activities/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_activity(self,
                      workspace_sid,
                      friendly_name=None,
                      available=None,
                      page_size=None,
                      page=None,
                      page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Activities.

        Args:
            workspace_sid (str): The SID of the Workspace with the Activity resources
                to read.
            friendly_name (str, optional): The `friendly_name` of the Activity
                resources to read.
            available (str, optional): Whether return only Activity resources that
                are available or unavailable. A value of `true` returns only
                available activities. Values of '1' or `yes` also indicate `true`.
                All other values represent `false` and return activities that are
                unavailable.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Activities")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("Available")
                .value(available))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListActivityResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_activity(self,
                        workspace_sid,
                        friendly_name,
                        available=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/Activities.

        Args:
            workspace_sid (str): The SID of the Workspace that the new Activity
                belongs to.
            friendly_name (str): A descriptive string that you create to describe the
                Activity resource. It can be up to 64 characters long. These names
                are used to calculate and expose statistics about Workers, and
                provide visibility into the state of each Worker. Examples of
                friendly names include: `on-call`, `break`, and `email`.
            available (bool, optional): Whether the Worker should be eligible to
                receive a Task when it occupies the Activity. A value of `true`, `1`,
                or `yes` specifies the Activity is available. All other values
                specify that it is not. The value cannot be changed after the
                Activity is created.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Activities")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("Available")
                .value(available))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Activity.from_dictionary)
            .is_api_response(True),
        ).execute()
