"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.task_queue_bulk_real_time_statistics import (
    TaskQueueBulkRealTimeStatistics,
)


class TaskrouterV1TaskQueueBulkRealTimeStatisticsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskQueueBulkRealTimeStatisticsApi object."""
        super(TaskrouterV1TaskQueueBulkRealTimeStatisticsApi, self).__init__(config)

    def create_task_queue_bulk_real_time_statistics(self,
                                                    workspace_sid,
                                                    body=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/TaskQueues/RealTimeStatistics.

        Fetch a Task Queue Real Time Statistics in bulk for the array of TaskQueue
        SIDs, support upto 50 in a request.

        Args:
            workspace_sid (str): The unique SID identifier of the Workspace.
            body (Any, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues/RealTimeStatistics")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskQueueBulkRealTimeStatistics.from_dictionary)
            .is_api_response(True),
        ).execute()
