"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_workflow_response import (
    ListWorkflowResponse,
)
from twilioapis.models.workflow import Workflow


class TaskrouterV1WorkflowApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkflowApi object."""
        super(TaskrouterV1WorkflowApi, self).__init__(config)

    def fetch_workflow(self,
                       workspace_sid,
                       sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Workflow to fetch.
            sid (str): The SID of the Workflow resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workflow.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_workflow(self,
                        workspace_sid,
                        sid,
                        friendly_name=None,
                        assignment_callback_url=None,
                        fallback_assignment_callback_url=None,
                        configuration=None,
                        task_reservation_timeout=None,
                        re_evaluate_tasks=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Workflow to update.
            sid (str): The SID of the Workflow resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the Workflow resource. For example, `Inbound Call Workflow`
                or `2014 Outbound Campaign`.
            assignment_callback_url (str, optional): The URL from your application
                that will process task assignment events. See [Handling Task
                Assignment
                Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-cal
                lbacks) for more details.
            fallback_assignment_callback_url (str, optional): The URL that we should
                call when a call to the `assignment_callback_url` fails.
            configuration (str, optional): A JSON string that contains the rules to
                apply to the Workflow. See [Configuring
                Workflows](https://www.twilio.com/docs/taskrouter/workflow-configurati
                on) for more information.
            task_reservation_timeout (int, optional): How long TaskRouter will wait
                for a confirmation response from your application after it assigns a
                Task to a Worker. Can be up to `86,400` (24 hours) and the default is
                `120`.
            re_evaluate_tasks (str, optional): Whether or not to re-evaluate Tasks.
                The default is `false`, which means Tasks in the Workflow will not be
                processed through the assignment loop again.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("AssignmentCallbackUrl")
                .value(assignment_callback_url))
            .form_param(Parameter()
                .key("FallbackAssignmentCallbackUrl")
                .value(fallback_assignment_callback_url))
            .form_param(Parameter()
                .key("Configuration")
                .value(configuration))
            .form_param(Parameter()
                .key("TaskReservationTimeout")
                .value(task_reservation_timeout))
            .form_param(Parameter()
                .key("ReEvaluateTasks")
                .value(re_evaluate_tasks))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workflow.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_workflow(self,
                        workspace_sid,
                        sid):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Workflow to delete.
            sid (str): The SID of the Workflow resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workflows/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_workflow(self,
                      workspace_sid,
                      friendly_name=None,
                      page_size=None,
                      page=None,
                      page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Workflows.

        Args:
            workspace_sid (str): The SID of the Workspace with the Workflow to read.
            friendly_name (str, optional): The `friendly_name` of the Workflow
                resources to read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workflows")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListWorkflowResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_workflow(self,
                        workspace_sid,
                        friendly_name,
                        configuration,
                        assignment_callback_url=None,
                        fallback_assignment_callback_url=None,
                        task_reservation_timeout=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/Workflows.

        Args:
            workspace_sid (str): The SID of the Workspace that the new Workflow to
                create belongs to.
            friendly_name (str): A descriptive string that you create to describe the
                Workflow resource. For example, `Inbound Call Workflow` or `2014
                Outbound Campaign`.
            configuration (str): A JSON string that contains the rules to apply to
                the Workflow. See [Configuring
                Workflows](https://www.twilio.com/docs/taskrouter/workflow-configurati
                on) for more information.
            assignment_callback_url (str, optional): The URL from your application
                that will process task assignment events. See [Handling Task
                Assignment
                Callback](https://www.twilio.com/docs/taskrouter/handle-assignment-cal
                lbacks) for more details.
            fallback_assignment_callback_url (str, optional): The URL that we should
                call when a call to the `assignment_callback_url` fails.
            task_reservation_timeout (int, optional): How long TaskRouter will wait
                for a confirmation response from your application after it assigns a
                Task to a Worker. Can be up to `86,400` (24 hours) and the default is
                `120`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workflows")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("Configuration")
                .value(configuration)
                .is_required(True))
            .form_param(Parameter()
                .key("AssignmentCallbackUrl")
                .value(assignment_callback_url))
            .form_param(Parameter()
                .key("FallbackAssignmentCallbackUrl")
                .value(fallback_assignment_callback_url))
            .form_param(Parameter()
                .key("TaskReservationTimeout")
                .value(task_reservation_timeout))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workflow.from_dictionary)
            .is_api_response(True),
        ).execute()
