"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.task_queue_statistics import (
    TaskQueueStatistics,
)


class TaskrouterV1TaskQueueStatisticsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskQueueStatisticsApi object."""
        super(TaskrouterV1TaskQueueStatisticsApi, self).__init__(config)

    def fetch_task_queue_statistics(self,
                                    workspace_sid,
                                    task_queue_sid,
                                    end_date=None,
                                    minutes=None,
                                    start_date=None,
                                    task_channel=None,
                                    split_by_wait_time=None):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/Statistics.

        Args:
            workspace_sid (str): The SID of the Workspace with the TaskQueue to fetch.
            task_queue_sid (str): The SID of the TaskQueue for which to fetch
                statistics.
            end_date (datetime, optional): Only calculate statistics from this date
                and time and earlier, specified in GMT as an [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
            minutes (int, optional): Only calculate statistics since this many
                minutes in the past. The default is 15 minutes.
            start_date (datetime, optional): Only calculate statistics from this date
                and time and later, specified in [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) format.
            task_channel (str, optional): Only calculate real-time and cumulative
                statistics for the specified TaskChannel. Can be the TaskChannel's
                SID or its `unique_name`, such as `voice`, `sms`, or `default`.
            split_by_wait_time (str, optional): A comma separated list of values that
                describes the thresholds, in seconds, to calculate statistics on. For
                each threshold specified, the number of Tasks canceled and
                reservations accepted above and below the specified thresholds in
                seconds are computed.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskQueues/{TaskQueueSid}/Statistics")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("TaskQueueSid")
                .value(task_queue_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("EndDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date)))
            .query_param(Parameter()
                .key("Minutes")
                .value(minutes))
            .query_param(Parameter()
                .key("StartDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date)))
            .query_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .query_param(Parameter()
                .key("SplitByWaitTime")
                .value(split_by_wait_time))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskQueueStatistics.from_dictionary)
            .is_api_response(True),
        ).execute()
