"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_worker_response import (
    ListWorkerResponse,
)
from twilioapis.models.worker import Worker


class TaskrouterV1WorkerApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkerApi object."""
        super(TaskrouterV1WorkerApi, self).__init__(config)

    def list_worker(self,
                    workspace_sid,
                    activity_name=None,
                    activity_sid=None,
                    available=None,
                    friendly_name=None,
                    target_workers_expression=None,
                    task_queue_name=None,
                    task_queue_sid=None,
                    ordering=None,
                    page_size=None,
                    page=None,
                    page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Workers.

        Args:
            workspace_sid (str): The SID of the Workspace with the Workers to read.
            activity_name (str, optional): The `activity_name` of the Worker
                resources to read.
            activity_sid (str, optional): The `activity_sid` of the Worker resources
                to read.
            available (str, optional): Whether to return only Worker resources that
                are available or unavailable. Can be `true`, `1`, or `yes` to return
                Worker resources that are available, and `false`, or any value
                returns the Worker resources that are not available.
            friendly_name (str, optional): The `friendly_name` of the Worker
                resources to read.
            target_workers_expression (str, optional): Filter by Workers that would
                match an expression. In addition to fields in the workers'
                attributes, the expression can include the following worker fields:
                `sid`, `friendly_name`, `activity_sid`, or `activity_name`
            task_queue_name (str, optional): The `friendly_name` of the TaskQueue
                that the Workers to read are eligible for.
            task_queue_sid (str, optional): The SID of the TaskQueue that the Workers
                to read are eligible for.
            ordering (str, optional): Sorting parameter for Workers
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("ActivityName")
                .value(activity_name))
            .query_param(Parameter()
                .key("ActivitySid")
                .value(activity_sid))
            .query_param(Parameter()
                .key("Available")
                .value(available))
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("TargetWorkersExpression")
                .value(target_workers_expression))
            .query_param(Parameter()
                .key("TaskQueueName")
                .value(task_queue_name))
            .query_param(Parameter()
                .key("TaskQueueSid")
                .value(task_queue_sid))
            .query_param(Parameter()
                .key("Ordering")
                .value(ordering))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListWorkerResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_worker(self,
                      workspace_sid,
                      friendly_name,
                      activity_sid=None,
                      attributes=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/Workers.

        Args:
            workspace_sid (str): The SID of the Workspace that the new Worker belongs
                to.
            friendly_name (str): A descriptive string that you create to describe the
                new Worker. It can be up to 64 characters long.
            activity_sid (str, optional): The SID of a valid Activity that will
                describe the new Worker's initial state. See
                [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for
                more information. If not provided, the new Worker's initial state is
                the `default_activity_sid` configured on the Workspace.
            attributes (str, optional): A valid JSON string that describes the new
                Worker. For example: `{ "email": "Bob@example.com", "phone":
                "+5095551234" }`. This data is passed to the
                `assignment_callback_url` when TaskRouter assigns a Task to the
                Worker. Defaults to {}.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("ActivitySid")
                .value(activity_sid))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Worker.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_worker(self,
                     workspace_sid,
                     sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Worker to fetch.
            sid (str): The SID of the Worker resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Worker.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_worker(self,
                      workspace_sid,
                      sid,
                      if_match=None,
                      activity_sid=None,
                      attributes=None,
                      friendly_name=None,
                      reject_pending_reservations=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Worker to update.
            sid (str): The SID of the Worker resource to update.
            if_match (str, optional): The If-Match HTTP request header
            activity_sid (str, optional): The SID of a valid Activity that will
                describe the Worker's initial state. See
                [Activities](https://www.twilio.com/docs/taskrouter/api/activity) for
                more information.
            attributes (str, optional): The JSON string that describes the Worker.
                For example: `{ "email": "Bob@example.com", "phone": "+5095551234"
                }`. This data is passed to the `assignment_callback_url` when
                TaskRouter assigns a Task to the Worker. Defaults to {}.
            friendly_name (str, optional): A descriptive string that you create to
                describe the Worker. It can be up to 64 characters long.
            reject_pending_reservations (bool, optional): Whether to reject the
                Worker's pending reservations. This option is only valid if the
                Worker's new
                [Activity](https://www.twilio.com/docs/taskrouter/api/activity)
                resource has its `availability` property set to `False`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("If-Match")
                .value(if_match))
            .form_param(Parameter()
                .key("ActivitySid")
                .value(activity_sid))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("RejectPendingReservations")
                .value(reject_pending_reservations))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Worker.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_worker(self,
                      workspace_sid,
                      sid,
                      if_match=None):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Worker to delete.
            sid (str): The SID of the Worker resource to delete.
            if_match (str, optional): The If-Match HTTP request header

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("If-Match")
                .value(if_match))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
