"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_workspace_response import (
    ListWorkspaceResponse,
)
from twilioapis.models.workspace import Workspace


class TaskrouterV1WorkspaceApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkspaceApi object."""
        super(TaskrouterV1WorkspaceApi, self).__init__(config)

    def fetch_workspace(self,
                        sid):
        """Perform a GET request to /v1/Workspaces/{Sid}.

        Args:
            sid (str): The SID of the Workspace resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workspace.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_workspace(self,
                         sid,
                         default_activity_sid=None,
                         event_callback_url=None,
                         events_filter=None,
                         friendly_name=None,
                         multi_task_enabled=None,
                         timeout_activity_sid=None,
                         prioritize_queue_order=None):
        """Perform a POST request to /v1/Workspaces/{Sid}.

        Args:
            sid (str): The SID of the Workspace resource to update.
            default_activity_sid (str, optional): The SID of the Activity that will
                be used when new Workers are created in the Workspace.
            event_callback_url (str, optional): The URL we should call when an event
                occurs. See [Workspace
                Events](https://www.twilio.com/docs/taskrouter/api/event) for more
                information. This parameter supports Twilio's [Webhooks (HTTP
                callbacks) Connection
                Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connect
                ion-overrides).
            events_filter (str, optional): The list of Workspace events for which to
                call event_callback_url. For example if
                `EventsFilter=task.created,task.canceled,worker.activity.update`,
                then TaskRouter will call event_callback_url only when a task is
                created, canceled, or a Worker activity is updated.
            friendly_name (str, optional): A descriptive string that you create to
                describe the Workspace resource. For example: `Sales Call Center` or
                `Customer Support Team`.
            multi_task_enabled (bool, optional): Whether to enable multi-tasking. Can
                be: `true` to enable multi-tasking, or `false` to disable it.
                However, all workspaces should be maintained as multi-tasking. There
                is no default when omitting this parameter. A multi-tasking Workspace
                can't be updated to single-tasking unless it is not a Flex Project
                and another (legacy) single-tasking Workspace exists. Multi-tasking
                allows Workers to handle multiple Tasks simultaneously. In
                multi-tasking mode, each Worker can receive parallel reservations up
                to the per-channel maximums defined in the Workers section. In
                single-tasking mode (legacy mode), each Worker will only receive a
                new reservation when the previous task is completed. Learn more at
                [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).
            timeout_activity_sid (str, optional): The SID of the Activity that will
                be assigned to a Worker when a Task reservation times out without a
                response.
            prioritize_queue_order (WorkspaceQueueOrder, optional): The type of
                TaskQueue to prioritize when Workers are receiving Tasks from both
                types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is
                `FIFO`. For more information, see [Queue
                Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-f
                irst-out-lifo).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("DefaultActivitySid")
                .value(default_activity_sid))
            .form_param(Parameter()
                .key("EventCallbackUrl")
                .value(event_callback_url))
            .form_param(Parameter()
                .key("EventsFilter")
                .value(events_filter))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("MultiTaskEnabled")
                .value(multi_task_enabled))
            .form_param(Parameter()
                .key("TimeoutActivitySid")
                .value(timeout_activity_sid))
            .form_param(Parameter()
                .key("PrioritizeQueueOrder")
                .value(prioritize_queue_order))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workspace.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_workspace(self,
                         sid):
        """Perform a DELETE request to /v1/Workspaces/{Sid}.

        Args:
            sid (str): The SID of the Workspace resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_workspace(self,
                       friendly_name=None,
                       page_size=None,
                       page=None,
                       page_token=None):
        """Perform a GET request to /v1/Workspaces.

        Args:
            friendly_name (str, optional): The `friendly_name` of the Workspace
                resources to read. For example `Customer Support` or `2014 Election
                Campaign`.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListWorkspaceResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_workspace(self,
                         friendly_name,
                         event_callback_url=None,
                         events_filter=None,
                         multi_task_enabled=None,
                         template=None,
                         prioritize_queue_order=None):
        """Perform a POST request to /v1/Workspaces.

        Args:
            friendly_name (str): A descriptive string that you create to describe the
                Workspace resource. It can be up to 64 characters long. For example:
                `Customer Support` or `2014 Election Campaign`.
            event_callback_url (str, optional): The URL we should call when an event
                occurs. If provided, the Workspace will publish events to this URL,
                for example, to collect data for reporting. See [Workspace
                Events](https://www.twilio.com/docs/taskrouter/api/event) for more
                information. This parameter supports Twilio's [Webhooks (HTTP
                callbacks) Connection
                Overrides](https://www.twilio.com/docs/usage/webhooks/webhooks-connect
                ion-overrides).
            events_filter (str, optional): The list of Workspace events for which to
                call event_callback_url. For example, if `EventsFilter=task.created,
                task.canceled, worker.activity.update`, then TaskRouter will call
                event_callback_url only when a task is created, canceled, or a Worker
                activity is updated.
            multi_task_enabled (bool, optional): Whether to enable multi-tasking. Can
                be: `true` to enable multi-tasking, or `false` to disable it.
                However, all workspaces should be created as multi-tasking. The
                default is `true`. Multi-tasking allows Workers to handle multiple
                Tasks simultaneously. When enabled (`true`), each Worker can receive
                parallel reservations up to the per-channel maximums defined in the
                Workers section. In single-tasking mode (legacy mode), each Worker
                will only receive a new reservation when the previous task is
                completed. Learn more at
                [Multitasking](https://www.twilio.com/docs/taskrouter/multitasking).
            template (str, optional): An available template name. Can be: `NONE` or
                `FIFO` and the default is `NONE`. Pre-configures the Workspace with
                the Workflow and Activities specified in the template. `NONE` will
                create a Workspace with only a set of default activities. `FIFO` will
                configure TaskRouter with a set of default activities and a single
                TaskQueue for first-in, first-out distribution, which can be useful
                when you are getting started with TaskRouter.
            prioritize_queue_order (WorkspaceQueueOrder, optional): The type of
                TaskQueue to prioritize when Workers are receiving Tasks from both
                types of TaskQueues. Can be: `LIFO` or `FIFO` and the default is
                `FIFO`. For more information, see [Queue
                Ordering](https://www.twilio.com/docs/taskrouter/queue-ordering-last-f
                irst-out-lifo).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces")
            .http_method(HttpMethodEnum.POST)
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("EventCallbackUrl")
                .value(event_callback_url))
            .form_param(Parameter()
                .key("EventsFilter")
                .value(events_filter))
            .form_param(Parameter()
                .key("MultiTaskEnabled")
                .value(multi_task_enabled))
            .form_param(Parameter()
                .key("Template")
                .value(template))
            .form_param(Parameter()
                .key("PrioritizeQueueOrder")
                .value(prioritize_queue_order))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Workspace.from_dictionary)
            .is_api_response(True),
        ).execute()
