"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.workspace_cumulative_statistics import (
    WorkspaceCumulativeStatistics,
)


class TaskrouterV1WorkspaceCumulativeStatisticsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkspaceCumulativeStatisticsApi object."""
        super(TaskrouterV1WorkspaceCumulativeStatisticsApi, self).__init__(config)

    def fetch_workspace_cumulative_statistics(self,
                                              workspace_sid,
                                              end_date=None,
                                              minutes=None,
                                              start_date=None,
                                              task_channel=None,
                                              split_by_wait_time=None):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/CumulativeStatistics.

        Args:
            workspace_sid (str): The SID of the Workspace to fetch.
            end_date (datetime, optional): Only include usage that occurred on or
                before this date, specified in GMT as an [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
            minutes (int, optional): Only calculate statistics since this many
                minutes in the past. The default 15 minutes. This is helpful for
                displaying statistics for the last 15 minutes, 240 minutes (4 hours),
                and 480 minutes (8 hours) to see trends.
            start_date (datetime, optional): Only calculate statistics from this date
                and time and later, specified in [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) format.
            task_channel (str, optional): Only calculate cumulative statistics on
                this TaskChannel. Can be the TaskChannel's SID or its `unique_name`,
                such as `voice`, `sms`, or `default`.
            split_by_wait_time (str, optional): A comma separated list of values that
                describes the thresholds, in seconds, to calculate statistics on. For
                each threshold specified, the number of Tasks canceled and
                reservations accepted above and below the specified thresholds in
                seconds are computed. For example, `5,30` would show splits of Tasks
                that were canceled or accepted before and after 5 seconds and before
                and after 30 seconds. This can be used to show short abandoned Tasks
                or Tasks that failed to meet an SLA. TaskRouter will calculate
                statistics on up to 10,000 Tasks for any given threshold.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/CumulativeStatistics")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("EndDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date)))
            .query_param(Parameter()
                .key("Minutes")
                .value(minutes))
            .query_param(Parameter()
                .key("StartDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date)))
            .query_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .query_param(Parameter()
                .key("SplitByWaitTime")
                .value(split_by_wait_time))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WorkspaceCumulativeStatistics.from_dictionary)
            .is_api_response(True),
        ).execute()
