"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.workers_real_time_statistics import (
    WorkersRealTimeStatistics,
)


class TaskrouterV1WorkersRealTimeStatisticsApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkersRealTimeStatisticsApi object."""
        super(TaskrouterV1WorkersRealTimeStatisticsApi, self).__init__(config)

    def fetch_workers_real_time_statistics(self,
                                           workspace_sid,
                                           task_channel=None):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Workers/RealTimeStatistics.

        Args:
            workspace_sid (str): The SID of the Workspace with the resource to fetch.
            task_channel (str, optional): Only calculate real-time statistics on this
                TaskChannel. Can be the TaskChannel's SID or its `unique_name`, such
                as `voice`, `sms`, or `default`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/RealTimeStatistics")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WorkersRealTimeStatistics.from_dictionary)
            .is_api_response(True),
        ).execute()
