"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_worker_channel_response import (
    ListWorkerChannelResponse,
)
from twilioapis.models.worker_channel import (
    WorkerChannel,
)


class TaskrouterV1WorkerChannelApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1WorkerChannelApi object."""
        super(TaskrouterV1WorkerChannelApi, self).__init__(config)

    def list_worker_channel(self,
                            workspace_sid,
                            worker_sid,
                            page_size=None,
                            page=None,
                            page_token=None):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels.

        Args:
            workspace_sid (str): The SID of the Workspace with the WorkerChannels to
                read.
            worker_sid (str): The SID of the Worker with the WorkerChannels to read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListWorkerChannelResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def fetch_worker_channel(self,
                             workspace_sid,
                             worker_sid,
                             sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the WorkerChannel to
                fetch.
            worker_sid (str): The SID of the Worker with the WorkerChannel to fetch.
            sid (str): The SID of the WorkerChannel to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WorkerChannel.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_worker_channel(self,
                              workspace_sid,
                              worker_sid,
                              sid,
                              capacity=None,
                              available=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the WorkerChannel to
                update.
            worker_sid (str): The SID of the Worker with the WorkerChannel to update.
            sid (str): The SID of the WorkerChannel to update.
            capacity (int, optional): The total number of Tasks that the Worker
                should handle for the TaskChannel type. TaskRouter creates
                reservations for Tasks of this TaskChannel type up to the specified
                capacity. If the capacity is 0, no new reservations will be created.
            available (bool, optional): Whether the WorkerChannel is available. Set
                to `false` to prevent the Worker from receiving any new Tasks of this
                TaskChannel type.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Workers/{WorkerSid}/Channels/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Capacity")
                .value(capacity))
            .form_param(Parameter()
                .key("Available")
                .value(available))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WorkerChannel.from_dictionary)
            .is_api_response(True),
        ).execute()
