"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_task_channel_response import (
    ListTaskChannelResponse,
)
from twilioapis.models.task_channel import TaskChannel


class TaskrouterV1TaskChannelApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskChannelApi object."""
        super(TaskrouterV1TaskChannelApi, self).__init__(config)

    def fetch_task_channel(self,
                           workspace_sid,
                           sid):
        """Perform a GET request to
        /v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}.

        Types of tasks

        Args:
            workspace_sid (str): The SID of the Workspace with the Task Channel to
                fetch.
            sid (str): The SID of the Task Channel resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskChannel.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_task_channel(self,
                            workspace_sid,
                            sid,
                            friendly_name=None,
                            channel_optimized_routing=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}.

        Types of tasks

        Args:
            workspace_sid (str): The SID of the Workspace with the Task Channel to
                update.
            sid (str): The SID of the Task Channel resource to update.
            friendly_name (str, optional): A descriptive string that you create to
                describe the Task Channel. It can be up to 64 characters long.
            channel_optimized_routing (bool, optional): Whether the TaskChannel
                should prioritize Workers that have been idle. If `true`, Workers
                that have been idle the longest are prioritized.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name))
            .form_param(Parameter()
                .key("ChannelOptimizedRouting")
                .value(channel_optimized_routing))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskChannel.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_task_channel(self,
                            workspace_sid,
                            sid):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}.

        Types of tasks

        Args:
            workspace_sid (str): The SID of the Workspace with the Task Channel to
                delete.
            sid (str): The SID of the Task Channel resource to delete.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskChannels/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_task_channel(self,
                          workspace_sid,
                          page_size=None,
                          page=None,
                          page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/TaskChannels.

        Types of tasks

        Args:
            workspace_sid (str): The SID of the Workspace with the Task Channel to
                read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskChannels")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTaskChannelResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_task_channel(self,
                            workspace_sid,
                            friendly_name,
                            unique_name,
                            channel_optimized_routing=None):
        """Perform a POST request to
        /v1/Workspaces/{WorkspaceSid}/TaskChannels.

        Types of tasks

        Args:
            workspace_sid (str): The SID of the Workspace that the new Task Channel
                belongs to.
            friendly_name (str): A descriptive string that you create to describe the
                Task Channel. It can be up to 64 characters long.
            unique_name (str): An application-defined string that uniquely identifies
                the Task Channel, such as `voice` or `sms`.
            channel_optimized_routing (bool, optional): Whether the Task Channel
                should prioritize Workers that have been idle. If `true`, Workers
                that have been idle the longest are prioritized.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/TaskChannels")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("FriendlyName")
                .value(friendly_name)
                .is_required(True))
            .form_param(Parameter()
                .key("UniqueName")
                .value(unique_name)
                .is_required(True))
            .form_param(Parameter()
                .key("ChannelOptimizedRouting")
                .value(channel_optimized_routing))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskChannel.from_dictionary)
            .is_api_response(True),
        ).execute()
