"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.event import Event
from twilioapis.models.list_event_response import (
    ListEventResponse,
)


class TaskrouterV1EventApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1EventApi object."""
        super(TaskrouterV1EventApi, self).__init__(config)

    def fetch_event(self,
                    workspace_sid,
                    sid):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Events/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Event to fetch.
            sid (str): The SID of the Event resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Events/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Event.from_dictionary)
            .is_api_response(True),
        ).execute()

    def list_event(self,
                   workspace_sid,
                   end_date=None,
                   event_type=None,
                   minutes=None,
                   reservation_sid=None,
                   start_date=None,
                   task_queue_sid=None,
                   task_sid=None,
                   worker_sid=None,
                   workflow_sid=None,
                   task_channel=None,
                   sid=None,
                   page_size=None,
                   page=None,
                   page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Events.

        Args:
            workspace_sid (str): The SID of the Workspace with the Events to read.
                Returns only the Events that pertain to the specified Workspace.
            end_date (datetime, optional): Only include Events that occurred on or
                before this date, specified in GMT as an [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) date-time.
            event_type (str, optional): The type of Events to read. Returns only
                Events of the type specified.
            minutes (int, optional): The period of events to read in minutes. Returns
                only Events that occurred since this many minutes in the past. The
                default is `15` minutes. Task Attributes for Events occuring more
                43,200 minutes ago will be redacted.
            reservation_sid (str, optional): The SID of the Reservation with the
                Events to read. Returns only Events that pertain to the specified
                Reservation.
            start_date (datetime, optional): Only include Events from on or after
                this date and time, specified in [ISO
                8601](https://en.wikipedia.org/wiki/ISO_8601) format. Task Attributes
                for Events older than 30 days will be redacted.
            task_queue_sid (str, optional): The SID of the TaskQueue with the Events
                to read. Returns only the Events that pertain to the specified
                TaskQueue.
            task_sid (str, optional): The SID of the Task with the Events to read.
                Returns only the Events that pertain to the specified Task.
            worker_sid (str, optional): The SID of the Worker with the Events to
                read. Returns only the Events that pertain to the specified Worker.
            workflow_sid (str, optional): The SID of the Workflow with the Events to
                read. Returns only the Events that pertain to the specified Workflow.
            task_channel (str, optional): The TaskChannel with the Events to read.
                Returns only the Events that pertain to the specified TaskChannel.
            sid (str, optional): The SID of the Event resource to read.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Events")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("EndDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end_date)))
            .query_param(Parameter()
                .key("EventType")
                .value(event_type))
            .query_param(Parameter()
                .key("Minutes")
                .value(minutes))
            .query_param(Parameter()
                .key("ReservationSid")
                .value(reservation_sid))
            .query_param(Parameter()
                .key("StartDate")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start_date)))
            .query_param(Parameter()
                .key("TaskQueueSid")
                .value(task_queue_sid))
            .query_param(Parameter()
                .key("TaskSid")
                .value(task_sid))
            .query_param(Parameter()
                .key("WorkerSid")
                .value(worker_sid))
            .query_param(Parameter()
                .key("WorkflowSid")
                .value(workflow_sid))
            .query_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .query_param(Parameter()
                .key("Sid")
                .value(sid))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListEventResponse.from_dictionary)
            .is_api_response(True),
        ).execute()
