"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.list_task_response import (
    ListTaskResponse,
)
from twilioapis.models.task_router_task import (
    TaskRouterTask,
)


class TaskrouterV1TaskApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize TaskrouterV1TaskApi object."""
        super(TaskrouterV1TaskApi, self).__init__(config)

    def fetch_task(self,
                   workspace_sid,
                   sid):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Task to fetch.
            sid (str): The SID of the Task resource to fetch.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskRouterTask.from_dictionary)
            .is_api_response(True),
        ).execute()

    def update_task(self,
                    workspace_sid,
                    sid,
                    if_match=None,
                    attributes=None,
                    assignment_status=None,
                    reason=None,
                    priority=None,
                    task_channel=None,
                    virtual_start_time=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Task to update.
            sid (str): The SID of the Task resource to update.
            if_match (str, optional): If provided, applies this mutation if (and only
                if) the
                [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag)
                header of the Task matches the provided value. This matches the
                semantics of (and is implemented with) the HTTP [If-Match
                header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-M
                atch).
            attributes (str, optional): The JSON string that describes the custom
                attributes of the task.
            assignment_status (TaskStatus, optional): The current status of the
                Task's assignment. Can be: `pending`, `reserved`, `assigned`,
                `canceled`, `wrapping`, or `completed`.
            reason (str, optional): The reason that the Task was canceled or
                completed. This parameter is required only if the Task is canceled or
                completed. Setting this value queues the task for deletion and logs
                the reason.
            priority (int, optional): The Task's new priority value. When supplied,
                the Task takes on the specified priority unless it matches a Workflow
                Target with a Priority set. Value can be 0 to 2^31^ (2,147,483,647).
            task_channel (str, optional): When MultiTasking is enabled, specify the
                TaskChannel with the task to update. Can be the TaskChannel's SID or
                its `unique_name`, such as `voice`, `sms`, or `default`.
            virtual_start_time (datetime, optional): The task's new virtual start
                time value. When supplied, the Task takes on the specified virtual
                start time. Value can't be in the future or before the year of 1900.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("If-Match")
                .value(if_match))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .form_param(Parameter()
                .key("AssignmentStatus")
                .value(assignment_status))
            .form_param(Parameter()
                .key("Reason")
                .value(reason))
            .form_param(Parameter()
                .key("Priority")
                .value(priority))
            .form_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .form_param(Parameter()
                .key("VirtualStartTime")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    virtual_start_time)))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskRouterTask.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_task(self,
                    workspace_sid,
                    sid,
                    if_match=None):
        """Perform a DELETE request to
        /v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}.

        Args:
            workspace_sid (str): The SID of the Workspace with the Task to delete.
            sid (str): The SID of the Task resource to delete.
            if_match (str, optional): If provided, deletes this Task if (and only if)
                the
                [ETag](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag)
                header of the Task matches the provided value. This matches the
                semantics of (and is implemented with) the HTTP [If-Match
                header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-M
                atch).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The resource was
                deleted successfully.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks/{Sid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("Sid")
                .value(sid)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("If-Match")
                .value(if_match))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def list_task(self,
                  workspace_sid,
                  priority=None,
                  assignment_status=None,
                  workflow_sid=None,
                  workflow_name=None,
                  task_queue_sid=None,
                  task_queue_name=None,
                  evaluate_task_attributes=None,
                  routing_target=None,
                  ordering=None,
                  has_addons=None,
                  page_size=None,
                  page=None,
                  page_token=None):
        """Perform a GET request to /v1/Workspaces/{WorkspaceSid}/Tasks.

        Args:
            workspace_sid (str): The SID of the Workspace with the Tasks to read.
            priority (int, optional): The priority value of the Tasks to read.
                Returns the list of all Tasks in the Workspace with the specified
                priority.
            assignment_status (List[str], optional): The `assignment_status` of the
                Tasks you want to read. Can be: `pending`, `reserved`, `assigned`,
                `canceled`, `wrapping`, or `completed`. Returns all Tasks in the
                Workspace with the specified `assignment_status`.
            workflow_sid (str, optional): The SID of the Workflow with the Tasks to
                read. Returns the Tasks controlled by the Workflow identified by this
                SID.
            workflow_name (str, optional): The friendly name of the Workflow with the
                Tasks to read. Returns the Tasks controlled by the Workflow
                identified by this friendly name.
            task_queue_sid (str, optional): The SID of the TaskQueue with the Tasks
                to read. Returns the Tasks waiting in the TaskQueue identified by
                this SID.
            task_queue_name (str, optional): The `friendly_name` of the TaskQueue
                with the Tasks to read. Returns the Tasks waiting in the TaskQueue
                identified by this friendly name.
            evaluate_task_attributes (str, optional): The attributes of the Tasks to
                read. Returns the Tasks that match the attributes specified in this
                parameter.
            routing_target (str, optional): A SID of a Worker, Queue, or Workflow to
                route a Task to
            ordering (str, optional): How to order the returned Task resources. By
                default, Tasks are sorted by ascending DateCreated. This value is
                specified as: `Attribute:Order`, where `Attribute` can be either
                `DateCreated`, `Priority`, or `VirtualStartTime` and `Order` can be
                either `asc` or `desc`. For example, `Priority:desc` returns Tasks
                ordered in descending order of their Priority. Pairings of sort
                orders can be specified in a comma-separated list such as
                `Priority:desc,DateCreated:asc`, which returns the Tasks in
                descending Priority order and ascending DateCreated Order. The only
                ordering pairing not allowed is DateCreated and VirtualStartTime.
            has_addons (bool, optional): Whether to read Tasks with Add-ons. If
                `true`, returns only Tasks with Add-ons. If `false`, returns only
                Tasks without Add-ons.
            page_size (int, optional): How many resources to return in each list
                page. The default is 50, and the maximum is 1000.
            page (int, optional): The page index. This value is simply for client
                state.
            page_token (str, optional): The page token. This is provided by the API.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("Priority")
                .value(priority))
            .query_param(Parameter()
                .key("AssignmentStatus")
                .value(assignment_status))
            .query_param(Parameter()
                .key("WorkflowSid")
                .value(workflow_sid))
            .query_param(Parameter()
                .key("WorkflowName")
                .value(workflow_name))
            .query_param(Parameter()
                .key("TaskQueueSid")
                .value(task_queue_sid))
            .query_param(Parameter()
                .key("TaskQueueName")
                .value(task_queue_name))
            .query_param(Parameter()
                .key("EvaluateTaskAttributes")
                .value(evaluate_task_attributes))
            .query_param(Parameter()
                .key("RoutingTarget")
                .value(routing_target))
            .query_param(Parameter()
                .key("Ordering")
                .value(ordering))
            .query_param(Parameter()
                .key("HasAddons")
                .value(has_addons))
            .query_param(Parameter()
                .key("PageSize")
                .value(page_size))
            .query_param(Parameter()
                .key("Page")
                .value(page))
            .query_param(Parameter()
                .key("PageToken")
                .value(page_token))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListTaskResponse.from_dictionary)
            .is_api_response(True),
        ).execute()

    def create_task(self,
                    workspace_sid,
                    timeout=None,
                    priority=None,
                    task_channel=None,
                    workflow_sid=None,
                    attributes=None,
                    virtual_start_time=None,
                    routing_target=None,
                    ignore_capacity=None,
                    task_queue_sid=None):
        """Perform a POST request to /v1/Workspaces/{WorkspaceSid}/Tasks.

        Args:
            workspace_sid (str): The SID of the Workspace that the new Task belongs
                to.
            timeout (int, optional): The amount of time in seconds the new task can
                live before being assigned. Can be up to a maximum of 2 weeks
                (1,209,600 seconds). The default value is 24 hours (86,400 seconds).
                On timeout, the `task.canceled` event will fire with description
                `Task TTL Exceeded`.
            priority (int, optional): The priority to assign the new task and
                override the default. When supplied, the new Task will have this
                priority unless it matches a Workflow Target with a Priority set.
                When not supplied, the new Task will have the priority of the
                matching Workflow Target. Value can be 0 to 2^31^ (2,147,483,647).
            task_channel (str, optional): When MultiTasking is enabled, specify the
                TaskChannel by passing either its `unique_name` or `sid`. Default
                value is `default`.
            workflow_sid (str, optional): The SID of the Workflow that you would like
                to handle routing for the new Task. If there is only one Workflow
                defined for the Workspace that you are posting the new task to, this
                parameter is optional.
            attributes (str, optional): A JSON string with the attributes of the new
                task. This value is passed to the Workflow's
                `assignment_callback_url` when the Task is assigned to a Worker. For
                example: `{ "task_type": "call", "twilio_call_sid": "CAxxx",
                "customer_ticket_number": "12345" }`.
            virtual_start_time (datetime, optional): The virtual start time to assign
                the new task and override the default. When supplied, the new task
                will have this virtual start time. When not supplied, the new task
                will have the virtual start time equal to `date_created`. Value can't
                be in the future or before the year of 1900.
            routing_target (str, optional): A SID of a Worker, Queue, or Workflow to
                route a Task to
            ignore_capacity (str, optional): A boolean that indicates if the Task
                should respect a Worker's capacity and availability during
                assignment. This field can only be used when the `RoutingTarget`
                field is set to a Worker SID. By setting `IgnoreCapacity` to a value
                of `true`, `1`, or `yes`, the Task will be routed to the Worker
                without respecting their capacity and availability. Any other value
                will enforce the Worker's capacity and availability. The default
                value of `IgnoreCapacity` is `true` when the `RoutingTarget` is set
                to a Worker SID.
            task_queue_sid (str, optional): The SID of the TaskQueue in which the
                Task belongs

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT4)
            .path("/v1/Workspaces/{WorkspaceSid}/Tasks")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("WorkspaceSid")
                .value(workspace_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Timeout")
                .value(timeout))
            .form_param(Parameter()
                .key("Priority")
                .value(priority))
            .form_param(Parameter()
                .key("TaskChannel")
                .value(task_channel))
            .form_param(Parameter()
                .key("WorkflowSid")
                .value(workflow_sid))
            .form_param(Parameter()
                .key("Attributes")
                .value(attributes))
            .form_param(Parameter()
                .key("VirtualStartTime")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    virtual_start_time)))
            .form_param(Parameter()
                .key("RoutingTarget")
                .value(routing_target))
            .form_param(Parameter()
                .key("IgnoreCapacity")
                .value(ignore_capacity))
            .form_param(Parameter()
                .key("TaskQueueSid")
                .value(task_queue_sid))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(TaskRouterTask.from_dictionary)
            .is_api_response(True),
        ).execute()
