"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.verification_check import (
    VerificationCheck,
)


class VerifyV2VerificationCheckApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize VerifyV2VerificationCheckApi object."""
        super(VerifyV2VerificationCheckApi, self).__init__(config)

    def create_verification_check(self,
                                  service_sid,
                                  code=None,
                                  to=None,
                                  verification_sid=None,
                                  amount=None,
                                  payee=None,
                                  sna_client_token=None):
        """Perform a POST request to
        /v2/Services/{ServiceSid}/VerificationCheck.

        challenge a specific Verification Check.

        Args:
            service_sid (str): The SID of the verification
                [Service](https://www.twilio.com/docs/verify/api/service) to create
                the resource under.
            code (str, optional): The 4-10 character string being verified.
            to (str, optional): The phone number or
                [email](https://www.twilio.com/docs/verify/email) to verify. Either
                this parameter or the `verification_sid` must be specified. Phone
                numbers must be in [E.164
                format](https://www.twilio.com/docs/glossary/what-e164).
            verification_sid (str, optional): A SID that uniquely identifies the
                Verification Check. Either this parameter or the `to` phone
                number/[email](https://www.twilio.com/docs/verify/email) must be
                specified.
            amount (str, optional): The amount of the associated PSD2 compliant
                transaction. Requires the PSD2 Service flag enabled.
            payee (str, optional): The payee of the associated PSD2 compliant
                transaction. Requires the PSD2 Service flag enabled.
            sna_client_token (str, optional): A sna client token received in sna url
                invocation response needs to be passed in Verification Check request
                and should match to get successful response.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path("/v2/Services/{ServiceSid}/VerificationCheck")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("Code")
                .value(code))
            .form_param(Parameter()
                .key("To")
                .value(to))
            .form_param(Parameter()
                .key("VerificationSid")
                .value(verification_sid))
            .form_param(Parameter()
                .key("Amount")
                .value(amount))
            .form_param(Parameter()
                .key("Payee")
                .value(payee))
            .form_param(Parameter()
                .key("SnaClientToken")
                .value(sna_client_token))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(VerificationCheck.from_dictionary)
            .is_api_response(True),
        ).execute()
