"""twilioapis.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from twilioapis.api_helper import APIHelper
from twilioapis.apis.base_api import BaseApi
from twilioapis.configuration import Server
from twilioapis.exceptions.v_2_services_verifications_429_error_exception import (
    V2ServicesVerifications429ErrorException,
)
from twilioapis.http.http_method_enum import (
    HttpMethodEnum,
)
from twilioapis.models.verification import Verification


class VerifyV2VerificationApi(BaseApi):
    """A Controller to access Endpoints in the twilioapis API."""

    def __init__(self, config):
        """Initialize VerifyV2VerificationApi object."""
        super(VerifyV2VerificationApi, self).__init__(config)

    def create_verification(self,
                            service_sid,
                            to,
                            channel,
                            custom_friendly_name=None,
                            custom_message=None,
                            send_digits=None,
                            locale=None,
                            custom_code=None,
                            amount=None,
                            payee=None,
                            rate_limits=None,
                            channel_configuration=None,
                            app_hash=None,
                            template_sid=None,
                            template_custom_substitutions=None,
                            device_ip=None,
                            enable_sna_client_token=None,
                            risk_check=None,
                            tags=None):
        """Perform a POST request to /v2/Services/{ServiceSid}/Verifications.

        Create a new Verification using a Service

        Args:
            service_sid (str): The SID of the verification
                [Service](https://www.twilio.com/docs/verify/api/service) to create
                the resource under.
            to (str): The phone number or
                [email](https://www.twilio.com/docs/verify/email) to verify. Phone
                numbers must be in [E.164
                format](https://www.twilio.com/docs/glossary/what-e164).
            channel (str): The verification method to use. One of:
                [`email`](https://www.twilio.com/docs/verify/email), `sms`,
                `whatsapp`, `call`, `sna` or `auto`.
            custom_friendly_name (str, optional): A custom user defined friendly name
                that overwrites the existing one in the verification message
            custom_message (str, optional): The text of a custom message to use for
                the verification.
            send_digits (str, optional): The digits to send after a phone call is
                answered, for example, to dial an extension. For more information,
                see the Programmable Voice documentation of
                [sendDigits](https://www.twilio.com/docs/voice/twiml/number#attributes
                -sendDigits).
            locale (str, optional): Locale will automatically resolve based on phone
                number country code for SMS, WhatsApp, and call channel
                verifications. It will fallback to English or the template’s default
                translation if the selected translation is not available. This
                parameter will override the automatic locale resolution. [See
                supported languages and more information
                here](https://www.twilio.com/docs/verify/supported-languages).
            custom_code (str, optional): A pre-generated code to use for
                verification. The code can be between 4 and 10 characters, inclusive.
            amount (str, optional): The amount of the associated PSD2 compliant
                transaction. Requires the PSD2 Service flag enabled.
            payee (str, optional): The payee of the associated PSD2 compliant
                transaction. Requires the PSD2 Service flag enabled.
            rate_limits (Any, optional): The custom key-value pairs of Programmable
                Rate Limits. Keys correspond to `unique_name` fields defined when
                [creating your Rate
                Limit](https://www.twilio.com/docs/verify/api/service-rate-limits).
                Associated value pairs represent values in the request that you are
                rate limiting on. You may include multiple Rate Limit values in each
                request.
            channel_configuration (Any, optional):
                [`email`](https://www.twilio.com/docs/verify/email) channel
                configuration in json format. The fields 'from' and 'from_name' are
                optional but if included the 'from' field must have a valid email
                address.
            app_hash (str, optional): Your [App
                Hash](https://developers.google.com/identity/sms-retriever/verify#comp
                uting_your_apps_hash_string) to be appended at the end of your
                verification SMS body. Applies only to SMS. Example SMS body: `<#>
                Your AppName verification code is: 1234 He42w354ol9`.
            template_sid (str, optional): The message
                [template](https://www.twilio.com/docs/verify/api/templates). If
                provided, will override the default template for the Service. SMS and
                Voice channels only.
            template_custom_substitutions (str, optional): A stringified JSON object
                in which the keys are the template's special variables and the values
                are the variables substitutions.
            device_ip (str, optional): Strongly encouraged if using the auto channel.
                The IP address of the client's device. If provided, it has to be a
                valid IPv4 or IPv6 address.
            enable_sna_client_token (bool, optional): An optional Boolean value to
                indicate the requirement of sna client token in the SNA URL
                invocation response for added security. This token must match in the
                Verification Check request to confirm phone number verification.
            risk_check (VerificationEnumRiskCheck, optional): Risk_check overrides
                Fraud Prevention measures like Fraud Guard, Geo Permissions etc per
                verification attempt basis, allowing Verify to block traffic
                considered fraudulent if enabled or bypass active protections if
                disabled. Can be: `enable`(default) or `disable`. For SMS channel
                only.
            tags (str, optional): A string containing a JSON map of key value pairs
                of tags to be recorded as metadata for the message. The object may
                contain up to 10 tags. Keys and values can each be up to 128
                characters in length.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT5)
            .path("/v2/Services/{ServiceSid}/Verifications")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("ServiceSid")
                .value(service_sid)
                .is_required(True)
                .should_encode(True))
            .form_param(Parameter()
                .key("To")
                .value(to)
                .is_required(True))
            .form_param(Parameter()
                .key("Channel")
                .value(channel)
                .is_required(True))
            .form_param(Parameter()
                .key("CustomFriendlyName")
                .value(custom_friendly_name))
            .form_param(Parameter()
                .key("CustomMessage")
                .value(custom_message))
            .form_param(Parameter()
                .key("SendDigits")
                .value(send_digits))
            .form_param(Parameter()
                .key("Locale")
                .value(locale))
            .form_param(Parameter()
                .key("CustomCode")
                .value(custom_code))
            .form_param(Parameter()
                .key("Amount")
                .value(amount))
            .form_param(Parameter()
                .key("Payee")
                .value(payee))
            .form_param(Parameter()
                .key("RateLimits")
                .value(rate_limits))
            .form_param(Parameter()
                .key("ChannelConfiguration")
                .value(channel_configuration))
            .form_param(Parameter()
                .key("AppHash")
                .value(app_hash))
            .form_param(Parameter()
                .key("TemplateSid")
                .value(template_sid))
            .form_param(Parameter()
                .key("TemplateCustomSubstitutions")
                .value(template_custom_substitutions))
            .form_param(Parameter()
                .key("DeviceIp")
                .value(device_ip))
            .form_param(Parameter()
                .key("EnableSnaClientToken")
                .value(enable_sna_client_token))
            .form_param(Parameter()
                .key("RiskCheck")
                .value(risk_check))
            .form_param(Parameter()
                .key("Tags")
                .value(tags))
            .header_param(Parameter()
                            .key("content-type")
                            .value("application/x-www-form-urlencoded"))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("accountSid_authToken")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(Verification.from_dictionary)
            .is_api_response(True)
            .local_error("429",
                "Too Many Requests",
                V2ServicesVerifications429ErrorException),
        ).execute()
